<form [formGroup]="carDetsForm" (ngSubmit)="onSubmit()">
  <div class="formgroup-inline  justify-content-center">
    <div class="card grid p-fluid mt-0 p-5 col-4 md:col-4 lg:col-4 ">
        <!-- <div class="field col-10 md:col-10 lg:col-10  m-2">
          <input pInputText id="name" value="basicinfor.informationForm['make'] basicinfor.informationForm['model'] basicinfor.informationForm['yearOfManufacture']" rows="4" />
        </div> -->

        <div class="formgroup-inline col-12 md:col-12 lg:col-12 mt-2">
          <div class="field col-12 md:col-12 lg:col-5">
            <span class="p-float-label">
                <p-dropdown inputId="dropdown" formControlName="fueltype" [options]="fueltype"  optionValue="fueltype" optionLabel="fueltype"></p-dropdown>
                <label for="dropdown">Fuel Type</label>
                <small *ngIf="carDetails['fueltype'].invalid && isSubmitted" class="p-error">Fuel type is required</small>
            </span>
          </div>
          <div class="field col-12 md:col-12 lg:col-5">
            <span class="p-float-label">
                <p-dropdown inputId="dropdown" formControlName="vehicleType"  [options]="bodytype"  optionValue="bodytype" optionLabel="bodytype"></p-dropdown>
                <label for="dropdown">Body Type</label>
                <small *ngIf="carDetails['vehicleType'].invalid && isSubmitted" class="p-error">Body type is required</small>
            </span>
          </div>
        </div>

        <div class="formgroup-inline col-12 md:col-12 lg:col-12 mt-2">
          <div class="field col-12 md:col-12 lg:col-5">
            <span class="p-float-label">
                <p-dropdown inputId="dropdown" formControlName="transmission"   [options]="gear"  optionValue="gear" optionLabel="gear"></p-dropdown>
                <label for="dropdown">Transmission</label>
                <small *ngIf="carDetails['transmission'].invalid && isSubmitted" class="p-error">Transmission is required</small>
            </span>
          </div>
          <div class="field col-12 md:col-12 lg:col-5">
            <span class="p-float-label">
                <p-dropdown inputId="dropdown" formControlName="color"   [options]="color"  optionValue="color" optionLabel="color"></p-dropdown>
                <label for="dropdown">Color</label>
                <small *ngIf="carDetails['color'].invalid && isSubmitted" class="p-error">Color is required</small>
            </span>
          </div>
        </div>

        <div class="formgroup-inline col-12 md:col-12 lg:col-12 mt-2">
          <div class="field col-12 md:col-12 lg:col-5">
              <span class="p-float-label">
                  <p-dropdown inputId="dropdown" formControlName="steering" [options]="steering"  optionValue="steering" optionLabel="steering"></p-dropdown>
                  <label for="dropdown">Steering(LHD/RHD)</label>
                  <small *ngIf="carDetails['steering'].invalid && isSubmitted" class="p-error">Steering is required</small>
              </span>
          </div>
          <div class="field col-12 md:col-12 lg:col-5">
            <span class="p-float-label">
                <p-dropdown inputId="dropdown" formControlName="engineSize" [options]="engineSize"  optionValue="enginepower" optionLabel="enginepower"></p-dropdown>
                <label for="dropdown">Engine Power(CC)</label>
                <small *ngIf="carDetails['engineSize'].invalid && isSubmitted" class="p-error">Engine power is required</small>
            </span>
          </div>
        </div>

        <div class="formgroup-inline col-12 md:col-12 lg:col-12 mt-2">
            <div class="field col-12 md:col-12 lg:col-5">
                <span class="p-float-label">
                    <p-dropdown inputId="dropdown" formControlName="drivetype" [options]="drivetrain"  optionValue="drivetrain" optionLabel="drivetrain"></p-dropdown>
                    <label for="dropdown">Drive Type</label>
                    <small *ngIf="carDetails['drivetype'].invalid && isSubmitted" class="p-error">Drive type is required</small>
                </span>
            </div>
            <div class="field col-12 md:col-12 lg:col-5">
                <span class="p-float-label">
                    <i class="pi pi-check mr-2" style="color: rgb(230, 137, 32)"></i>
                    <strong><label for="dropdown"  style="color: rgb(230, 137, 32)">Duty Paid</label></strong>
                </span>
            </div>
        </div>
        <div class="flex justify-content-center ml-2">
          <span class="p-float-label">
              <textarea id="float-input" formControlName="description" rows="10" cols="30" pInputTextarea></textarea>
              <label for="float-input">Description</label>
          </span>
        </div>
    </div>
    <div class="card grid p-fluid m-5 mt-0 col-5 md:col-5 lg:col-5 ">
      <h4 class="m-5">
        Car Options and Accesories
      </h4>
      <!-- <div class="col-12 md:col-12 lg:col-12">
        <div class="formgroup-inline">
          <div *ngFor="let option of options" class="field-checkbox col-5 md:col-5 lg:col-5">
            <p-checkbox name="group" [value]="option"  [inputId]="option.key" (click)="onCheckboxChange($event)"></p-checkbox>
            <label [for]="option.key">{{ option.name }}</label>
          </div>
        </div>
      </div> -->
      <div class="col-12 md:col-12 lg:col-12">
        <div class="formgroup-inline">
          <div *ngFor="let option of options" class="field-checkbox col-5 md:col-5 lg:col-5">
            <p-checkbox name="group" [value]="option" [inputId]="option.key" (click)="onCheckboxChange()"></p-checkbox>
            <label [for]="option.key">{{ option.name }}</label>
          </div>
        </div>
      </div>

    </div>
    <div class="field grid col-12 md:col-12 lg:col-12 ml-4 justify-content-center">
      <!-- <button pButton pRipple label="Reset" (click)="onReset()" class="w-20rem p-3 text-xl" type="submit"></button> -->
      <button pButton pRipple label="Back" routerLink="/uploadpicture" class="w-20rem p-3  ml-5" type="button"></button>
      <p-toast></p-toast>
      <button pButton pRipple label="Finish" class="w-20rem p-3  ml-5" type="submit" ></button>
      <div class="flex justify-content-center">
        <button pButton pRipple label="Preview" (click)="showDialog()" class="w-20rem p-3  ml-5" type="button"></button>
        <p-dialog header="fgf" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <p class="m-0">
          <app-preview></app-preview>
        </p-dialog>
      </div>
      <!-- <div class="flex justify-content-center">
        <p-button (click)="showDialog()" icon="pi pi-external-link" label="Preview"></p-button>
        <p-dialog header="fgf" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <p class="m-0">
          <app-preview></app-preview>
        </p-dialog>
      </div> -->


    </div>
  </div>
</form>
