<div class="formgroup-inline  justify-content-center gap-1">
  <div class="card grid p-fluid mt-0 p-5 col-4 md:col-4 lg:col-4 ">
    <div class="field col-10s md:col-10 lg:col-10  m-2">
      <input pInputText id="name" rows="4" />
    </div>

    <div class="formgroup-inline col-12 md:col-12 lg:col-12 mt-2">
      <div class="field col-12 md:col-12 lg:col-5">
        <span class="p-float-label">
            <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" [(ngModel)]="selectedCity" optionLabel="h"></p-dropdown>
            <label for="dropdown">Fuel Type</label>
        </span>
      </div>
      <div class="field col-12 md:col-12 lg:col-5">
        <span class="p-float-label">
            <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" [(ngModel)]="selectedCity" optionLabel="i"></p-dropdown>
            <label for="dropdown">Body Type</label>
        </span>
      </div>
    </div>

    <div class="formgroup-inline col-12 md:col-12 lg:col-12 mt-2">
      <div class="field col-12 md:col-12 lg:col-5">
        <span class="p-float-label">
            <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" [(ngModel)]="selectedCity" optionLabel="j"></p-dropdown>
            <label for="dropdown">Automatic</label>
        </span>
      </div>
      <div class="field col-12 md:col-12 lg:col-5">
        <span class="p-float-label">
            <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" [(ngModel)]="selectedCity" optionLabel="k"></p-dropdown>
            <label for="dropdown">Color</label>
        </span>
      </div>
    </div>

    <div class="formgroup-inline col-12 md:col-12 lg:col-12 mt-2">
      <div class="field col-12 md:col-12 lg:col-5">
          <span class="p-float-label">
              <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" [(ngModel)]="selectedCity" optionLabel="m"></p-dropdown>
              <label for="dropdown">Steering(LHD/RHD)</label>
          </span>
      </div>
      <div class="field col-12 md:col-12 lg:col-5">
          <span class="p-float-label">
              <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" [(ngModel)]="selectedCity" optionLabel="n"></p-dropdown>
              <label for="dropdown">Engine Power(CC)</label>
          </span>
      </div>
    </div>

    <div class="formgroup-inline col-12 md:col-12 lg:col-12 mt-2">
        <div class="field col-12 md:col-12 lg:col-5">
            <span class="p-float-label">
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" [(ngModel)]="selectedCity" optionLabel="o"></p-dropdown>
                <label for="dropdown">Drive Type</label>
            </span>
        </div>
        <div class="field col-12 md:col-12 lg:col-5">
            <span class="p-float-label">
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" [(ngModel)]="selectedCity" optionLabel="p"></p-dropdown>
                <label for="dropdown">Duty Paid</label>
            </span>
        </div>
    </div>
    <div class="flex justify-content-center ml-2">
      <span class="p-float-label">
          <textarea id="float-input" rows="10" cols="30" pInputTextarea></textarea>
          <label for="float-input">Description</label>
      </span>
    </div>
  </div>
  <div class="card grid p-fluid m-5 mt-0 col-5 md:col-5 lg:col-5 ">
    <h4>
      Car Options and Accesories
    </h4>
    <div class="col-12 md:col-12 lg:col-12">
      <div class="formgroup-inline">
        <div *ngFor="let option of options" class="field-checkbox col-5 md:col-5 lg:col-5">
          <p-checkbox name="group" [value]="option" [(ngModel)]="selectedOptions" [inputId]="option.key"></p-checkbox>
          <label [for]="option.key">{{ option.name }}</label>
        </div>
      </div>
    </div>
  </div>
</div>
