<app-topbar></app-topbar>
<p>Got here!</p>
<div class="card"></div>
<a routerLink="/vendorprofile" (click)="getUser(user.id)">Back to retailer</a>
<h4>All cars from {{user?.firstName}}</h4>
<div class="formgroup-inline mb-5 mt-10">
  <div class="col-12 md:col-12 lg:col-4">
    <p>{{vehicles?.length}} Cars found</p>
    <app-filters (searchFilterChanged)="onSearchFilterEntered($event)"></app-filters>
  </div>
  <div class="col-12 md:col-12 lg:col-8">
    <div class="m-4" *ngFor="let vehicle of vehicles">
      <div class="card col-12 formgroup-inline" *ngIf="isMatched(vehicle)">
        <div class="col-4">
          <p-image src="{{vehicle.image}}" alt="Image" width="100%" [preview]="true"></p-image>
        </div>
        <div class="col-8" routerLink="/view" (click)="getVehicle(vehicle.id)">
          <h6>{{vehicle.make}} {{vehicle.model}} {{vehicle.yearOfManufacture.split('-')[0]}}</h6>
          <div class="text-red-500 font-bold ">{{vehicle.price | currency:'Ksh. ':'symbol':'1.0-0'}}</div>
          <p>{{vehicle.bodyType}} | {{vehicle.mileage}} | {{vehicle.engineSize}} | {{vehicle.enginePower}} |
            {{vehicle.transmission}} | {{vehicle.fuelType}}
            <!-- | {{vehicle.doors}} | {{vehicle.seats}} -->
           </p>
          <div>{{vehicle.description}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
