<div class="card flex">
<div class="grid">
  <div class="col-12 md:col-12 lg:col-4 flex align-items-center justify-content-center">
      <div class="p-fluid">
        <p-image src="assets/layout/images/vehicles/2023-bmw-x7.jpg" alt="Image" width="100%" [preview]="true"></p-image>

      </div>
  </div>
  <!-- <div class="col-2">
      <p-divider layout="vertical">
      </p-divider>
  </div> -->
  <div class="col-12 md:col-12 lg:col-7 flex align-items-center justify-content-center">
    <div class="card">
      <h2 class="m-0">
        5,000,000 Ksh
      </h2>
      <p class="m-0">
        BMW (2023)
      </p>
      <p class="m-0">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, adipisci dolore non nam nemo repellat ratione, tempore doloremque in eos magni veritatis cumque debitis earum impedit natus aliquid minus eligendi!
      </p>
      <p-divider></p-divider>
      <h3 class="m-0">
        Ademo Motors
      </h3>
        <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>
      <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
        <span class="text-2xl font-semibold">
        <img src="assets/layout/images/vehicles/2023-bmw-x7.jpg" alt="Image" height="50" class="mb-3"></span>
      </div>
    </div>  </div>
</div>
</div>
<div class="card flex">
  <div class="grid">
    <div class="col-12 md:col-12 lg:col-4 flex align-items-center justify-content-center">
        <div class="p-fluid">
          <p-image src="assets/layout/images/vehicles/2023-bmw-x7.jpg" alt="Image" width="100%" [preview]="true"></p-image>
  
        </div>
    </div>
    <!-- <div class="col-2">
        <p-divider layout="vertical">
        </p-divider>
    </div> -->
    <div class="col-12 md:col-12 lg:col-7 flex align-items-center justify-content-center">
      <div class="card">
        <h2 class="m-0">
          5,000,000 Ksh
        </h2>
        <p class="m-0">
          BMW (2023)
        </p>
        <p class="m-0">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, adipisci dolore non nam nemo repellat ratione, tempore doloremque in eos magni veritatis cumque debitis earum impedit natus aliquid minus eligendi!
        </p>
        <p-divider></p-divider>
        <h3 class="m-0">
          Ademo Motors
        </h3>
          <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>
        <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
          <span class="text-2xl font-semibold">
          <img src="assets/layout/images/vehicles/2023-bmw-x7.jpg" alt="Image" height="50" class="mb-3"></span>
        </div>
      </div>  </div>
  </div>
  </div>
  <div class="card flex">
    <div class="grid">
      <div class="col-12 md:col-12 lg:col-4 flex align-items-center justify-content-center">
          <div class="p-fluid">
            <p-image src="assets/layout/images/vehicles/2023-bmw-x7.jpg" alt="Image" width="100%" [preview]="true"></p-image>
    
          </div>
      </div>
      <!-- <div class="col-2">
          <p-divider layout="vertical">
          </p-divider>
      </div> -->
      <div class="col-12 md:col-12 lg:col-7 flex align-items-center justify-content-center">
        <div class="card">
          <h2 class="m-0">
            5,000,000 Ksh
          </h2>
          <p class="m-0">
            BMW (2023)
          </p>
          <p class="m-0">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, adipisci dolore non nam nemo repellat ratione, tempore doloremque in eos magni veritatis cumque debitis earum impedit natus aliquid minus eligendi!
          </p>
          <p-divider></p-divider>
          <h3 class="m-0">
            Ademo Motors
          </h3>
            <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>
          <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
            <span class="text-2xl font-semibold">
            <img src="assets/layout/images/vehicles/2023-bmw-x7.jpg" alt="Image" height="50" class="mb-3"></span>
          </div>
        </div>  </div>
    </div>
    </div>