<p>vehicles works!</p>
<p-card header="Title">
  <p class="m-0">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
      quas!
  </p>
</p-card>

<p-splitter [panelSizes]="[30, 70]" [style]="{ height: '300px' }" styleClass="mt-5">
  <ng-template pTemplate>
      <div class="col flex align-items-center justify-content-center">
        <!-- <p-image src="../images/2023-bmw-x7-xdrive-40i134-641c5b3ca7165.jpg" alt="Image" width="250" [preview]="true"></p-image> -->

        <img src="../images/2023-bmw-x7-xdrive-40i134-641c5b3ca7165.jpg" alt="BMW" class="mb-5" width="80%">
      </div>
  </ng-template>
  <ng-template pTemplate>
      <!-- <div class="col flex align-items-center justify-content-center"> -->
         <h2 class="m-0">
          5,000,000 Ksh
        </h2>
        <p class="m-0">
          BMW (2023)
        </p>
        <p class="m-0">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, adipisci dolore non nam nemo repellat ratione, tempore doloremque in eos magni veritatis cumque debitis earum impedit natus aliquid minus eligendi!
        </p>
        <p-divider></p-divider>
        <h3 class="m-0">
          Ademo Motors
        </h3>
        <img src="assets/demo/images/login/avatar.png" alt="Image" height="50" class="mb-3">
      <!-- </div> -->
  </ng-template>
</p-splitter>
