<div class="p-fluid mt-2">
  <form [formGroup]="filtersForm">
    <div class="p-formgrid grid">
      <div  class="p-inputgroup" style="border: 1px solid rgb(192, 190, 190);" >
        <p-button class="flex col-4 md:col-6 mt-0" label="Make"  styleClass="p-button-info p-button-text" ></p-button>
        <p-dropdown class="flex col-8 md:col-6 mb-0" formControlName="make" [options]="makes" inputId="dropdown" inputId="dropdown"
         (onChange)="onMakeChange()" placeholder="Select" [(ngModel)]="makeFilter" (onChange)="onSearchFilterChanged($event.value)" ></p-dropdown>
      </div>
      <div  class="p-inputgroup" style="border: 1px solid rgb(192, 190, 190);">
        <p-button class="flex col-4 md:col-6 mb-0" label="Model" styleClass="p-button-info p-button-text" ></p-button>
        <p-dropdown class="flex col-8 md:col-6 mb-0" formControlName="model" [options]="models"  inputId="dropdown" placeholder="Select"
         [(ngModel)]="modelFilter" (onChange)="onSearchFilterChanged($event.value)"></p-dropdown>
      </div>
    </div>
  </form>
  <div class="p-formgrid grid mt-0">
    <div  class="p-inputgroup" style="border: 1px solid rgb(192, 190, 190);">
      <p-button class="flex col-4 md:col-6 mb-0" label="Location" styleClass="p-button-info p-button-text"></p-button>
      <p-dropdown class="flex col-8 md:col-6 mb-0" inputId="dropdown"  [options]="location"  optionValue="location"
      optionLabel="location" placeholder="Select a City" [(ngModel)]="enteredFilter" (onChange)="onSearchFilterChanged($event.value)"></p-dropdown><br>
    </div>
  </div>
</div>
<fieldset class="mt-3 fieldset">
  <legend class="ml-2">Mileage</legend>
  <div class="formgroup-inline col-12 md:col-12 lg:col-12 m-0">
    <div class="field col-5 md:col-12 lg:col-5 mb-2 p-0">
      <span class="field">
        <label for="dropdown" class="">Min </label>
        <p-dropdown class="flex" inputId="dropdown"  [options]="mileage"  optionValue="mileage"  optionLabel="mileage"
         placeholder="Select" [(ngModel)]="mileageFilter" (onChange)="onMileageFilterChanged($event.value)"></p-dropdown><br>
      </span>
    </div>
    <div class="field col-5 md:col-12 lg:col-5  mb-2 p-0">
      <span class="field">
        <label for="dropdown"> Max</label>
        <p-dropdown class="flex" inputId="dropdown"  [options]="mileage"  optionValue="mileage"  optionLabel="mileage"
        placeholder="Select" [(ngModel)]="maxmileageFilter" (onChange)="onMileageFilterChanged($event.value)"></p-dropdown><br>
      </span>
    </div>
  </div>
</fieldset>
<fieldset class="mt-3 fieldset">
  <legend class="ml-2">Year</legend>
  <div class="formgroup-inline col-12 md:col-12 lg:col-12 m-0">
    <div class="field col-5 md:col-12 lg:col-5 mb-2 p-0">
      <span class="field">
        <label for="dropdown" class="">Min </label>
        <p-calendar [(ngModel)]="date" view="year" [showIcon]="true" dateFormat="yy" [maxDate]="maxDate" [minDate]="minDate"></p-calendar>
      </span>
    </div>
    <div class="field col-5 md:col-12 lg:col-5  mb-2 p-0">
      <span class="field">
        <label for="dropdown"> Max</label>
        <p-calendar [(ngModel)]="date1" view="year" [showIcon]="true" dateFormat="yy" [maxDate]="maxDate" [minDate]="minDate" ></p-calendar>
      </span>
    </div>
  </div>
</fieldset>
<fieldset class="mt-3 fieldset">
  <legend class="ml-2">Price</legend>
  <div class="formgroup-inline col-12 md:col-12 lg:col-12">
    <div class="field col-5 md:col-12 lg:col-5 p-0">
      <span class="field">
        <label for="dropdown">Min</label>
        <p-dropdown inputId="dropdown" [options]="prices" optionValue="price"  optionLabel="price" placeholder="Select"
        [(ngModel)]="minPriceFilter" (onChange)="onPriceFilterChanged($event.value)"></p-dropdown>
      </span>
    </div>
    <div class="field col-5 md:col-12 lg:col-5 p-0">
      <span class="field">
        <label for="dropdown">Max</label>
        <p-dropdown inputId="dropdown" [options]="prices" optionValue="price"  optionLabel="price" placeholder="Select"
        [(ngModel)]="maxPriceFilter" (onChange)="onPriceFilterChanged($event.value)"></p-dropdown>
      </span>
    </div>
  </div>
</fieldset>
<div class="p-formgrid grid mt-0">

    <div  class="p-inputgroup mt-3" style="border: 1px solid rgb(192, 190, 190);">
      <p-button  class="flex col-4 md:col-6 mt-0"  label="Body Type" styleClass="p-button-info p-button-text w-11rem"></p-button>
      <p-dropdown class="flex col-8 md:col-6 mb-0" inputId="dropdown" [options]="bodyType"  optionValue="bodyType" optionLabel="bodyType"
      placeholder="Select" [(ngModel)]="bodyTypeFilter" (onChange)="onSearchFilterChanged($event.value)"></p-dropdown>
    </div>
    <!-- <div  class="p-inputgroup" style="border: 1px solid rgb(192, 190, 190);"> -->
      <!-- <label class="label mb-2">Verified</label> -->
    <div  class="p-inputgroup" style="border: 1px solid rgb(192, 190, 190);">
      <p-button  class="flex col-4 md:col-6 mt-0"  label="Verified" styleClass="p-button-info p-button-text w-11rem"></p-button>
      <p-dropdown class="flex col-8 md:col-6 mb-0" inputId="dropdown" [options]="condition"  optionValue="condition" optionLabel="condition"
      placeholder="Select" [(ngModel)]="conditionFilter" (onChange)="onConditionFilterChanged($event.value)"></p-dropdown>
    </div>
    <div  class="p-inputgroup" style="border: 1px solid rgb(192, 190, 190);">
      <p-button  class="flex col-4 md:col-6 mt-0"  label="Usage" styleClass="p-button-info p-button-text w-11rem"></p-button>
      <p-dropdown class="flex col-8 md:col-6 mb-0" inputId="dropdown" [options]="usage"  optionValue="usage" optionLabel="usage"
      placeholder="Select" [(ngModel)]="usageFilter" (onChange)="onUsageFilterChanged($event.value)"></p-dropdown>
    </div>
    <div  class="p-inputgroup" style="border: 1px solid rgb(192, 190, 190);">
      <p-button  class="flex col-4 md:col-6 mt-0"  label="Condition" styleClass="p-button-info p-button-text w-11rem"></p-button>
      <p-dropdown class="flex col-8 md:col-6 mb-0" inputId="dropdown" [options]="state"  optionValue="state" optionLabel="state"
      placeholder="Select" [(ngModel)]="stateFilter" (onChange)="onStateFilterChanged($event.value)"></p-dropdown>
    </div>
    <div  class="p-inputgroup" style="border: 1px solid rgb(192, 190, 190);">
      <p-button  class="flex col-4 md:col-6 mt-0"  label="Transmission" styleClass="p-button-info p-button-text w-11rem"></p-button>
      <p-dropdown class="flex col-8 md:col-6 mb-0" inputId="dropdown" [options]="gear"  optionValue="gear" optionLabel="gear"
      placeholder="Select" [(ngModel)]="transmissionFilter" (onChange)="onTransmissionFilterChanged($event.value)"></p-dropdown>
    </div>
    <div class="col-12">
      <fieldset class="mt-3 mb-3 fieldset">
        <legend>Engine Size (cc)</legend>
        <div class="formgroup-inline col-12 md:col-12 lg:col-12 m-0">
          <div class="field col-5 md:col-12 lg:col-5 mb-0 p-0">
            <span class="field">
              <label for="dropdown">Min (cc)</label>
              <p-dropdown inputId="dropdown" [options]="engineSize" optionValue="engineSize" optionLabel="engineSize"></p-dropdown>
            </span>
          </div>
          <div class="field col-5 md:col-12 lg:col-5  mb-0 p-0">
            <span class="field">
              <label for="dropdown">Max (cc)</label>
              <p-dropdown inputId="dropdown" [options]="engineSize"  optionValue="engineSize" optionLabel="engineSize"></p-dropdown>
            </span>
          </div>
        </div>
      </fieldset>

      <fieldset  class="mb-2 fieldset">
        <legend class="ml-2">Engine Power</legend>
        <div class="formgroup-inline col-12 md:col-12 lg:col-12 m-0">
          <div class="field col-5 md:col-12 lg:col-5 mb-0 p-0">
            <span class="field">
              <label for="dropdown">Min</label>
              <p-dropdown inputId="dropdown" [options]="enginePower" optionValue="enginePower"  optionLabel="enginePower"></p-dropdown>
            </span>
          </div>
          <div class="field col-5 md:col-12 lg:col-5  mb-0 p-0">
            <span class="field">
              <label for="dropdown">Max </label>
              <p-dropdown inputId="dropdown" [options]="enginePower" optionValue="enginePower" optionLabel="enginePower"></p-dropdown>
            </span>
          </div>
        </div>
      </fieldset>
    </div>

  </div>
    <div class="formgroup-inline col-12 md:col-12 lg:col-12 m-0">
      <div class="col-6">
        <a (click)="toggleShowMore()" *ngIf="!showMore" class="ml-2" style="cursor: pointer;">Show More</a>
      </div>
      <div class="col-6">
        <a (click)="clear()" *ngIf="!showMore" class="ml-2" style="cursor: pointer;">Clear Filters</a>
      </div>
    </div>
    <div *ngIf="showMore" class="p-formgrid grid">
    <div  class="p-inputgroup" style="border: 1px solid rgb(192, 190, 190);">
      <p-button  class="flex col-4 md:col-6 mt-0"  label="Acceleration" styleClass="p-button-info p-button-text w-11rem"></p-button>
      <p-dropdown class="flex col-8 md:col-6 mb-0" inputId="dropdown" [options]="acceleration"  optionValue="acceleration" optionLabel="acceleration" [(ngModel)]="accelerationFilter" (onChange)="onAccelerationFilterChanged($event.value)"></p-dropdown>
    </div>

    <div  class="p-inputgroup" style="border: 1px solid rgb(192, 190, 190);">
      <p-button  class="flex col-4 md:col-6 mt-0"  label="Drive Train" styleClass="p-button-info p-button-text w-11rem"></p-button>
      <p-dropdown class="flex col-8 md:col-6 mb-0" inputId="dropdown" [options]="driveTrain"  optionValue="driveTrain" optionLabel="driveTrain" placeholder="Select" [(ngModel)]="driveTrainFilter" (onChange)="onDriveTrainFilterChanged($event.value)"></p-dropdown>
    </div>

    <div  class="p-inputgroup" style="border: 1px solid rgb(192, 190, 190);">
      <p-button  class="flex col-4 md:col-6 mt-0"  label="Doors " styleClass="p-button-info p-button-text w-11rem"></p-button>
      <p-dropdown class="flex col-8 md:col-6 mb-0" inputId="dropdown" [options]="doors"  optionValue="doors" optionLabel="doors" [(ngModel)]="doorsFilter" (onChange)="onDoorsFilterChanged($event.value)"></p-dropdown>
    </div>

    <div  class="p-inputgroup" style="border: 1px solid rgb(192, 190, 190);">
      <p-button   class="flex col-4 md:col-6 mt-0"  label="Color " styleClass="p-button-info p-button-text w-11rem"></p-button>
      <p-dropdown class="flex col-8 md:col-6 mb-0" inputId="dropdown" [options]="color"  optionValue="color" optionLabel="color" placeholder="Select" [(ngModel)]="colorFilter" (onChange)="onColorFilterChanged($event.value)"></p-dropdown>
    </div>

    <div  class="p-inputgroup" style="border: 1px solid rgb(192, 190, 190);">
      <p-button  class="flex col-4 md:col-6 mt-0"  label="Seats" styleClass="p-button-info p-button-text w-11rem"></p-button>
      <p-dropdown class="flex col-8 md:col-6 mb-0" inputId="dropdown" [options]="seats"  optionValue="seats" optionLabel="seats" [(ngModel)]="seatsFilter" (onChange)="onSeatsFilterChanged($event.value)"></p-dropdown>
    </div>

    <div  class="p-inputgroup" style="border: 1px solid rgb(192, 190, 190);">
      <p-button  class="flex col-4 md:col-6 mt-0"  label="Boot Space" styleClass="p-button-info p-button-text w-11rem"></p-button>
      <p-dropdown class="flex col-8 md:col-6 mb-0" inputId="dropdown" [options]="bootSpace"  optionValue="bootSpace" optionLabel="bootSpace" placeholder="Select" [(ngModel)]="bootSpaceFilter" (onChange)="onBootSpaceFilterChanged($event.value)"></p-dropdown>
    </div>

    <div  class="p-inputgroup" style="border: 1px solid rgb(192, 190, 190);">
      <p-button  class="flex col-4 md:col-6 mt-0"  label=" Fuel type" styleClass="p-button-info p-button-text w-11rem"></p-button>
      <p-dropdown class="flex col-8 md:col-6 mb-0" inputId="dropdown" [options]="fuelType"  optionValue="fuelType" optionLabel="fuelType" placeholder="Select" [(ngModel)]="fuelTypeFilter" (onChange)="onFuelTypeFilterChanged($event.value)"></p-dropdown>
    </div>

    <div  class="p-inputgroup" style="border: 1px solid rgb(192, 190, 190);">
      <p-button  class="flex col-4 md:col-6 mt-0" label="Fuel Consumption" styleClass="p-button-info p-button-text w-11rem"></p-button>
      <p-dropdown class="flex col-8 md:col-6 mb-0" inputId="dropdown" [options]="fuelConsumption"  optionValue="fuelConsumption" optionLabel="fuelConsumption" placeholder="Select" [(ngModel)]="fuelConsumptionFilter" (onChange)="onFuelConsumptionFilterChanged($event.value)"></p-dropdown>
    </div>

    <div  class="p-inputgroup mb-3 p-3" style="border: 1px solid rgb(192, 190, 190);">
      <!-- <p-button  class="flex col-4 md:col-6 mt-0"  label="Accessibility" styleClass="p-button-info p-button-text w-11rem"></p-button> -->
      <p-checkbox class="mr-2" [(ngModel)]="checked" [binary]="true" inputId="binary"></p-checkbox>
      <p>Wheelchair accessible vehicles(WAV)</p>
    </div>

    <div class="formgroup-inline col-12 md:col-12 lg:col-12 m-0">
      <div class="col-6">
        <a (click)="toggleShowMore()" *ngIf="showMore" class="ml-2" style="cursor: pointer;">Show Less</a>
      </div>
      <div class="col-6">
        <a (click)="clear()" class="ml-2" style="cursor: pointer;">Clear Filters</a>
      </div>
    </div>
</div>

