<!-- <div class="card"> -->
  <div class="formgroup-inline justify-content-center">
    <div class="card grid p-fluid mt-0 p-5 col-4 md:col-4 lg:col-4">
      <div class="col-12 md:col-12 mb-3">
        <div class="p-inputgroup">
          <button class="flex" type="button"  [style]="{width:'170px'}" pButton pRipple label="Make"></button>
          <p-dropdown class="flex" inputId="dropdown" [options]="cities"  [(ngModel)]="selectedCity" optionLabel="c"></p-dropdown>
        </div>
      </div>
      <div class="col-12 md:col-12 mb-3">
        <div class="p-inputgroup">
          <button class="flex" type="button" [style]="{width:'170px'}" pButton pRipple label="Model"></button>
          <p-dropdown class="flex" inputId="dropdown" [options]="cities"  [(ngModel)]="selectedCity" optionLabel="c"></p-dropdown>
        </div>
      </div>
      <div class="col-12 md:col-12 mb-3">
        <div class="p-inputgroup">
          <button class="flex" type="button"  [style]="{width:'170px'}" pButton pRipple label="Year of Manufacture"></button>
          <p-dropdown class="flex" inputId="dropdown" [options]="cities"  [(ngModel)]="selectedCity" optionLabel="c"></p-dropdown>
        </div>
      </div>
      <div class="col-12 md:col-12 mb-3">
        <div class="p-inputgroup">
          <button class="flex" type="button"  [style]="{width:'170px'}" pButton pRipple label="Price"></button>
          <p-dropdown class="flex" inputId="dropdown" [options]="cities"  [(ngModel)]="selectedCity" optionLabel="c"></p-dropdown>
        </div>
      </div>
      <div class="col-12 md:col-12 mb-3">
        <div class="p-inputgroup">
          <button class="flex" type="button"  [style]="{width:'170px'}" pButton pRipple label="Location"></button>
          <p-dropdown class="flex" inputId="dropdown" [options]="cities"  [(ngModel)]="selectedCity" optionLabel="c"></p-dropdown>
        </div>
      </div> <div class="col-12 md:col-12 mb-3">
        <div class="p-inputgroup">
          <button class="flex" type="button"  [style]="{width:'170px'}" pButton pRipple label="Mileage"></button>
          <p-dropdown class="flex" inputId="dropdown" [options]="cities" [(ngModel)]="selectedCity" optionLabel="c"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="card grid p-fluid m-5 mt-0 col-5 md:col-5 lg:col-5 ">
      <h5 class="m-5">
        Guide on how to upload info
      </h5>
      <p>
      </p>
    </div>
    <div class="field grid col-12 md:col-12 lg:col-12 ml-4 justify-content-center">
        <p-button styleClass="p-button-text">Next</p-button>
    </div>

  </div>
<!-- </div> -->
