<div class="formgroup-inline justify-content-center">
  <div class="card grid p-fluid m-5 mt-0 col-4 md:col-4 lg:col-4 ">
    <div class="field col-12 md:col-12 lg:col-12  mt-3">
        <span class="p-float-label">
            <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown>
            <label for="dropdown">Make</label>
        </span>
    </div>
    <div class="field col-12 md:col-12 lg:col-12  mt-3">
        <span class="p-float-label">
            <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" [(ngModel)]="selectedCity" optionLabel="a"></p-dropdown>
            <label for="dropdown">Model</label>
        </span>
    </div>
    <div class="field col-12 md:col-12 lg:col-12 mt-3">
        <span class="p-float-label">
            <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" [(ngModel)]="selectedCity" optionLabel="c"></p-dropdown>
            <label for="dropdown">Year of Manufacture</label>
        </span>
    </div>
    <div class="field col-12 md:col-12 lg:col-12 mt-3">
        <span class="p-float-label">
            <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" [(ngModel)]="selectedCity" optionLabel="e"></p-dropdown>
            <label for="dropdown">Price</label>
        </span>
    </div>

    <div class="field col-12 md:col-12 lg:col-12  mt-3">
      <span class="p-float-label">
          <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" [(ngModel)]="selectedCity" optionLabel="b"></p-dropdown>
          <label for="dropdown">Location</label>
      </span>
  </div>
  <div class="field col-12 md:col-12 lg:col-12  mt-3">
    <span class="p-float-label">
        <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" [(ngModel)]="selectedCity" optionLabel="l"></p-dropdown>
        <label for="dropdown">Mileage</label>
    </span>
  </div>
</div>

  <div class="card col-6 md:col-6 lg:col-6 ">
    <h5 class="m-2">
      Guide on how to upload info
    </h5>
    <p>

    </p>
  </div>
</div>
