<!-- <p>preview works!</p> -->
<!-- <div class="card flex justify-content-center">
  <p-sidebar [(visible)]="sidebarVisible3" [fullScreen]="true">
      <h3>Full Screen Sidebar</h3>
  </p-sidebar>
  <p-button (click)="sidebarVisible3 = true" icon="pi pi-th-large"></p-button>
</div> -->

<div class="formgroup-inline justify-content-center">
  <div class=" grid p-fluid mr-5 mt-0 p-5 col-12 md:col-4 lg:col-4">
   
      <label for="make" class="block text-900 text-xl font-medium mb-2">Make</label>
      <input id="make" formControlName="make"  type="text" value="" pInputText class="w-20rem md:w-30rem mb-2" style="padding:1rem"><br>
      
      <label for="model" class="block text-900 text-xl font-medium mb-2">Model</label>
      <input id="model" formControlName="model"  type="text" value="" pInputText class="w-20rem md:w-30rem mb-2" style="padding:1rem"><br>
      
      <label for="yearOfManufacture" class="block text-900 text-xl font-medium mb-2">Year</label>
      <input id="yearOfManufacture" formControlName="yearOfManufacture"  type="text" value="" pInputText class="w-20rem md:w-30rem mb-2" style="padding:1rem"><br>
      
      <label for="location" class="block text-900 text-xl font-medium mb-2">Location</label>
      <input id="location" formControlName="location"  type="text" value="" pInputText class="w-20rem md:w-30rem mb-2" style="padding:1rem"><br>
      
      <label for="price" class="block text-900 text-xl font-medium mb-2">Price</label>
      <input id="price" formControlName="price"  type="text" value="" pInputText class="w-20rem md:w-30rem mb-2" style="padding:1rem"><br>
      
      <label for="mileage" class="block text-900 text-xl font-medium mb-2">Mileage</label>
      <input id="mileage" formControlName="mileage"  type="text" value="" pInputText class="w-20rem md:w-30rem mb-2" style="padding:1rem"><br>
        
      <label for="fueltype" class="block text-900 text-xl font-medium mb-2">Fuel type</label>
      <input id="fueltype" formControlName="fueltype"  type="text" value="" pInputText class="w-20rem md:w-30rem mb-2" style="padding:1rem"><br>
      
    </div>
    <div class=" grid p-fluid mt-0 p-5 col-4 md:col-4 lg:col-4">
    
      <label for="vehicleType" class="block text-900 text-xl font-medium mb-2">Body type</label>
      <input id="vehicleType" formControlName="vehicleType"  type="text" value="" pInputText class="w-20rem md:w-30rem mb-2" style="padding:1rem"><br>
      
      <label for="transmission" class="block text-900 text-xl font-medium mb-2">Transmission</label>
      <input id="transmission" formControlName="transmission"  type="text" value="" pInputText class="w-20rem md:w-30rem mb-2" style="padding:1rem"><br>
      
      <label for="color" class="block text-900 text-xl font-medium mb-2">Color</label>
      <input id="color" formControlName="color"  type="text" value="" pInputText class="w-20rem md:w-30rem mb-2" style="padding:1rem"><br>
      
      <label for="steering" class="block text-900 text-xl font-medium mb-2">Steering</label>
      <input id="steering" formControlName="steering"  type="text" value="" pInputText class="w-20rem md:w-30rem mb-2" style="padding:1rem"><br>
      
      <label for="engineSize" class="block text-900 text-xl font-medium mb-2">Engine power</label>
      <input id="engineSize" formControlName="engineSize"  type="text" value="" pInputText class="w-20rem md:w-30rem mb-2" style="padding:1rem"><br>
      
      <label for="drivetype" class="block text-900 text-xl font-medium mb-2">Drive train</label>
      <input id="drivetype" formControlName="drivetype"  type="text" value="" pInputText class="w-20rem md:w-30rem mb-2" style="padding:1rem"><br>
      
      <label for="description" class="block text-900 text-xl font-medium mb-2">Description</label>
      <input id="description" formControlName="description"  type="text" value="" pInputText class="w-20rem md:w-30rem mb-2" style="padding:1rem"><br>

    </div>
</div>
