<!-- <p>preview works!</p> -->
<!-- <div class="card flex justify-content-center">
  <p-sidebar [(visible)]="sidebarVisible3" [fullScreen]="true">
    <h3>Full Screen Sidebar</h3>
  </p-sidebar>
  <p-button (click)="sidebarVisible3 = true" icon="pi pi-th-large"></p-button>
</div> -->

<div class="card grid p-fluid">
  <div class="col-5 md:col-5 lg:col-5">
    <div class="card">
      <h5>Image</h5>
			<div class="grid formgrid">
				<div class="col-12 mb-2 lg:col-12 lg:mb-0">
          <!-- <p>{{carData.images}}</p> -->
          <p-image src={{carData.images}} alt="Image" width="100%" [preview]="true"></p-image>

          <!-- <p-image src="../../../../../assets/layout/images/vehicles/2023-bmw-x7.jpg" alt="Image" width="100%" [preview]="true"></p-image> -->
				</div>
			</div>
      <div class="grid formgrid">
        <p-divider align="left">
          <div class="inline-flex align-items-center">
              <b>Car features and options</b>
          </div>
      </p-divider>
      </div>
    </div>
  </div>
  <div class="col-7 md:col-7 lg:col-7">
    <div class="card">
      <div class="grid formgrid">
        <div><h2>{{make}}{{model}}({{year}})</h2></div>
        </div>
      <div class="grid formgrid">
        <!-- <div class="col-12 mb-2 md:col-3 lg:col-3 lg:mb-0"> -->
          <p-tag severity="success" value="Automatic" class="m-2"></p-tag>
        <!-- </div> -->
        <!-- <div class="col-12 mb-2 md:col-3 lg:col-3 lg:mb-0"> -->
          <p-tag severity="secondary" value="54637km" class="m-2"></p-tag>
        <!-- </div> -->
        <!-- <div class="col-12 mb-2 md:col-3 lg:col-3 lg:mb-0"> -->
          <p-tag severity="success" value="1080CC" class="m-2"></p-tag>
        <!-- </div> -->
        <!-- <div class="col-12 mb-2 md:col-3 lg:col-3 lg:mb-0"> -->
          <p-tag severity="success" value="Mombasa" class="m-2"></p-tag>
        <!-- </div> -->
        <!-- <div class="col-12 mb-2 md:col-3 lg:col-3 lg:mb-0"> -->
          <p-tag severity="success" value="Automatic" class="m-2"></p-tag>
        <!-- </div> -->
        <!-- <div class="col-12 mb-2 md:col-3 lg:col-3 lg:mb-0"> -->
          <p-tag severity="success" value="54637km" class="m-2"></p-tag>
        <!-- </div> -->
        <!-- <div class="col-12 mb-2 md:col-3 lg:col-3 lg:mb-0"> -->
          <p-tag severity="success" value="1080CC" class="m-2"></p-tag>
        <!-- </div> -->
        <!-- <div class="col-12 mb-2 md:col-3 lg:col-3 lg:mb-0"> -->
          <p-tag severity="success" value="Mombasa" class="m-2"></p-tag>
        <!-- </div> -->
      </div>
      <div class="grid formgrid">
        <div class="p-fluid col-12 md:col-12 lg:col-12">
          <p-divider align="left">
            <div class="inline-flex align-items-center">
                <b>Car Specifications</b>
            </div>
          </p-divider>
          <div class="formgroup-inline mb-2">
            <label for="make" class="col-5 md:col-5 lg:col-5" style="white-space: pre-line;">Make <strong>{{make}}</strong></label>
            <label for="model" class="col-5 md:col-5 lg:col-5">Model  <strong>{{model}}</strong></label>
          </div>

          <div class="formgroup-inline  mb-2">
            <label for="yearOfManufacture" class="col-5 md:col-5 lg:col-5">Year - <strong>{{year}}</strong></label>
            <label for="location" class="col-5 md:col-5 lg:col-5">Location - <strong>{{location}}</strong></label>
          </div>

          <div class="formgroup-inline mb-2">
            <label for="price" class="col-5 md:col-5 lg:col-5">Price - <strong>{{price}}</strong></label>
            <label for="mileage" class="col-5 md:col-5 lg:col-5">Mileage - <strong>{{mileage}}</strong></label>
          </div>

          <div class="formgroup-inline mb-2">
            <label for="fueltype" class="col-5 md:col-5 lg:col-5">Fuel type - <strong>{{fueltype}}</strong></label>
            <label for="vehicleType" class="col-5 md:col-5 lg:col-5">Body type - <strong>{{bodytype}}</strong></label>
          </div>

          <div class="formgroup-inline mb-2">
            <label for="transmission" class="col-5 md:col-5 lg:col-5">Transmission - <strong>{{transmission}}</strong></label>
            <label for="color" class="col-5 md:col-5 lg:col-5">Color - <strong>{{color}}</strong></label>
          </div>

          <div class="formgroup-inline mb-2">
            <label for="steering" class="col-5 md:col-5 lg:col-5">Steering - <strong>{{steering}}</strong></label>
            <label for="engineSize" class="col-5 md:col-5 lg:col-5">Engine power - <strong>{{engine}}</strong></label>
          </div>

          <div class="formgroup-inline mb-2">
            <label for="drivetype" class="col-5 md:col-5 lg:col-5">Drive train - <strong>{{drivetype}}</strong> </label>
            <label for="description" class="col-5 md:col-5 lg:col-5">Description</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button pButton pRipple label="Submit" class="w-20rem p-3 text-xl ml-5" type="submit" (click)="onSubmit()"></button>

