<div>
  <app-topbar (searchTextChanged)="onSearchTextEntered($event)"></app-topbar>
</div>
<div class="formgroup-inline layout-dashboard">
  <div  class=" card-w-title col-12 md:col-3 lg:col-3 p-5">
    <app-filters class="try" (searchFilterChanged)="onSearchFilterEntered($event)"></app-filters>
  </div>

  <div  class=" card-w-title col-12 md:col-8 lg:col-8 p-5">
    <div class="p-col-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-search"></i>
        </span>
        <input pInputText type="text" class="p-inputtext-sm" placeholder="Search" [(ngModel)]="searchText"  />
      </div>
    </div>

    <p-dataView [value]="vehicles" [paginator]="true" [rowsPerPageOptions]="[5,10,20]" [rows]="5">
      <ng-template let-vehicle pTemplate="listItem">
        <!-- <div class="col-12" *ngIf="vehicle.isVerified"> -->
          <div class="vehicles-card mt-5" *ngIf="isMatched(vehicle)">
            <div class="grid" style="cursor: pointer;">
              <div class="col-12 md:col-12 lg:col-5 ml-2 align-items-center">
                  <div class="p-fluid">
                    <p-image src="{{vehicle.image}}"  class="image" alt="Image" width="95%" [preview]="true"></p-image>
                  </div>
              </div>
              <div class="col-12 md:col-12 lg:col-6 justify-content-center ">
                <div class="col-12 md:col-12 lg:col-12 ">
                  <div routerLink="/view" (click)="getVehicle(vehicle.id)">
                    <div class="flex align-items-center justify-content-between gap-5">
                      <div class="flex align-items-center">
                          <p-tag [severity]="vehicle.condition === 'Used' ? 'info':'danger'" value={{vehicle.condition}} class="m-2"></p-tag>
                          <p-tag [severity]="vehicle.usage === 'Foreign Used' ? 'info':'danger'" value= {{vehicle.usage}} class="ml-1"></p-tag>
                      </div>
                      <div *ngIf="vehicle.isVerified">
                        <p-tag severity="success" icon="pi pi-check"></p-tag>
                      </div>
                    </div>
                <div class="m-2 text-red-500 hover:text-red-700  font-bold ">{{vehicle.price | currency:'Ksh. ':'symbol':'1.0-0' }}</div>
                  <h6 class="m-2">
                    {{vehicle.yearOfManufacture.split('-')[0]}} {{vehicle.make}} {{vehicle.model}}
                  </h6>
                  <p class="m-2">
                    <strong>
                      {{vehicle.fuelType}} | {{vehicle.transmission}} | {{vehicle.engineSize| number: '1.0-0' }} CC | {{vehicle.mileage| number: '1.0-0' }} KM | {{vehicle.color}} | {{vehicle.bodyType}}
                    </strong>
                  </p>
                  <p class="m-2">{{vehicle.description | wordlimit:10}}</p>
                  <p-divider></p-divider>
                  </div>
                    <div class="flex align-items-center justify-content-between gap-5">
                      <div class="flex align-items-center">
                        <h5 class="m-0" routerLink="/vendorprofile" (click)="getUser(vehicle.user.id)" >
                          {{vehicle.user.firstName}}
                        </h5>
                      </div>
                      <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)"
                      routerLink="/vehicles"  (click)="getUserVehicles(vehicle.user.id)">See all cars</a>
                    </div>

                    <div class="flex align-items-center justify-content-between gap-5">
                      <div class="flex align-items-center">
                        <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>
                      </div>
                      <span class="text-2xl font-semibold text-right">
                        <img src={{vehicle.image}} alt="logo" height="30" class="mb-3">
                        </span>
                    </div>
                </div>
              </div>
            </div>
          </div>
        <!-- </div> -->
      </ng-template>
    </p-dataView>
  </div>
</div>

