@media screen and (min-width: 1960px) {
    .layout-main, .landing-wrapper {
        width: 1504px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

}

@media (min-width: 992px) {
    .layout-wrapper {
        &.layout-overlay {
            .layout-main-container {
                margin-left: 0;
                padding-left: 2rem;
            }

            .layout-sidebar {
                transform: translateX(-100%);
                left: 0;
                top: 0;
                height: 100vh;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            &.layout-overlay-active {
                .layout-sidebar {
                    transform: translateX(0);
                }
            }
        }

        &.layout-static {
            .layout-main-container {
                margin-left: 300px;
            }

            &.layout-static-inactive {
                .layout-sidebar {
                    transform: translateX(-100%);
                    left: 0;
                }

                .layout-main-container {
                    margin-left: 0;
                    padding-left: 2rem;
                }
            }
        }

        .layout-mask {
            display: none;
        }
    }
}

@media (max-width: 991px) {
    .blocked-scroll {
        overflow: hidden;
    }

    .layout-wrapper {
        .layout-main-container {
            margin-left: 0;
            padding-left: 2rem;
        }

        .layout-sidebar {
            transform: translateX(-100%);
            left: 0;
            top: 0;
            height: 100vh;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .layout-mask {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 998;
            width: 100%;
            height: 100%;
            background-color: var(--maskbg);
        }

        &.layout-mobile-active {
            .layout-sidebar {
                transform: translateX(0);
            }

            .layout-mask {
                display: block;
                animation: fadein $transitionDuration;
            }
        }
    }
}

@media (max-width: 991px) {
  .layout-topbar {
      justify-content: space-between;
      padding: 0px;

      .layout-topbar-logo {
          width: auto;
          order: 2;
      }

      .layout-menu-button {
          margin-left: 0;
          order: 1;
      }

      .layout-topbar-menu-button {
          display: inline-flex;
          margin-left: 0;
          order: 3;
      }

      .layout-topbar-menu {
          margin-left: 0;
          position: absolute;
          flex-direction: column;
          background-color: var(--surface-overlay);
          box-shadow: 0px 3px 5px rgba(0,0,0,.02), 0px 0px 2px rgba(0,0,0,.05), 0px 1px 4px rgba(0,0,0,.08);
          border-radius: 12px;
          padding: 1rem;
          right: 2rem;
          top: 5rem;
          max-width: 12rem;
          display: none;
          -webkit-animation: scalein 0.15s linear;
          animation: scalein 0.15s linear;

          &.layout-topbar-menu-mobile-active {
              display: block;
              width:155px;
          }

          .layout-topbar-button {
              margin-left: 0;
              display: flex;
              width: 100%;
              height: auto;
              justify-content: flex-start;
              border-radius: 12px;
              padding: 1rem;

              i {
                  font-size: 1rem;
                  margin-right: .5rem;
              }

              span {
                  font-weight: medium;
                  display: block;
              }
          }
      }
  }
}



