<app-topbar></app-topbar>
<div class="card"> </div>
<div class="view">
<div class="card grid p-fluid" >
  <div class="col-5 md:col-5 lg:col-5">
    <div class="card">
          <p-galleria [value]="images" [thumbnailsPosition]="position" [responsiveOptions]="responsiveOptions"
           [numVisible]="5" [circular]="true" [containerStyle]="{ 'max-width': '640px' }">
            <ng-template pTemplate="item" let-item>
            <img [src]="item" style="width: 100%; display: block;" />
          </ng-template>
          <ng-template pTemplate="thumbnail" let-item>
            <div class="grid grid-nogutter justify-content-center">
              <span class="text-2xl font-semibold">
                <img [src]="item" alt="logo" height="30" class="mb-3">
               </span>
                <!-- <img [src]="item" class="logo" style="width: 100%; display: block;" /> -->
            </div>
        </ng-template>
        </p-galleria>
      <div class="grid formgrid">
        <p-divider align="left">
          <div class="inline-flex align-items-center">
              <b>Car features and options</b>
          </div>
      </p-divider>
      </div>
      <p>{{vehicle.accessories}}</p>

      <div class="grid formgrid">
        <p-divider align="left">
          <div class="inline-flex align-items-center">
              <b>Description</b>
          </div>
      </p-divider>
      </div>
      <p>{{vehicle.description}}</p>
    </div>
  </div>
  <div class="col-7 md:col-7 lg:col-7">
    <div class="card">
      <div class="grid formgrid">
        <div><h2>{{vehicle.yearOfManufacture.split('-')[0]}} {{vehicle.make}} {{vehicle.model}}</h2></div>
        </div>
        <!-- <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating> -->

        <div class=" mt-2 text-red-500 hover:text-red-700  font-bold text-xl">{{vehicle.price | currency:'Ksh. ':'symbol':'1.0-0'}}</div>
      <div class="grid formgrid">
          <p-tag severity="info" value={{vehicle.steering}} class="m-2"></p-tag>
          <p-tag severity="info" value={{vehicle.color}} class="m-2"></p-tag>
          <p-tag severity="info" value={{vehicle.condition}} class="m-2"></p-tag>
          <p-tag severity="info" value={{vehicle.enginePower}} class="m-2"></p-tag>
          <p-tag severity="info" value={{vehicle.usage}} class="m-2"></p-tag>

      </div>
      <div class="grid formgrid">
        <div class="p-fluid col-12 md:col-12 lg:col-12">
          <p-divider align="left">
            <div class="inline-flex align-items-center">
                <b>Car Specifications</b>
            </div>
          </p-divider>
          <div class="formgroup-inline">
            <dl class="col-6 md:col-12 lg:col-6">
              <dt>Make</dt>
              <dd><strong>  {{vehicle.make}}</strong></dd>
              <dt>Model</dt>
              <dd> <strong>{{vehicle.model}}</strong></dd>
              <dt>Location</dt>
              <dd><strong>{{vehicle.location}}</strong></dd>
              <!-- <dt>Price </dt>
              <dd><strong>{{vehicle.price | currency:'Ksh. ':'symbol':'1.0-0'}}</strong></dd> -->
              <dt>Mileage</dt>
              <dd><strong>{{vehicle.mileage| number: '1.0-0' }} KM</strong></dd>
              <dt>Body type</dt>
              <dd><strong>{{vehicle.bodyType}}</strong></dd>
            </dl>
            <dl class="col-6 md:col-12 lg:col-6">
              <dt>Fuel type </dt>
              <dd><strong>{{vehicle.fuelType}}{{vehicle.driveTrain}}</strong></dd>
              <dt>Transmission </dt>
              <dd><strong>{{vehicle.transmission}}</strong></dd>
              <dt>Color</dt>
              <dd><strong>{{vehicle.color}}</strong></dd>
              <dt>Engine power </dt>
              <dd><strong>{{vehicle.engineSize}}</strong></dd>
              <dt>Condition</dt>
              <dd><strong>{{vehicle.condition}}</strong></dd>
              <dt>VIN number</dt>
              <dd><strong>{{vehicle.vinNumber}}</strong> </dd>
            </dl>
          </div>
      </div>
    </div>
    <p-divider></p-divider>
    <!-- <h5>{{vehicle.user.firstName}}</h5> -->
    <div class="formgroup-inline gap-5 align-items-center justify-content-center">
      <div class="flex justify-content-center">
        <p-button (click)="showDialog()"  icon="pi pi-fw pi-phone" label="Contact Seller" styleClass="p-button-success w-21rem"></p-button>
        <p-dialog header="Safety Tips" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
            <!-- <p class="m-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p> -->
            <ul class="m-0 mb-5">
              <li>Remember, don't send any pre-payments</li>
                <li>Meet the seller at a safe public place</li>
                <li>Inspect the goods to make sure they meet your needs</li>
                <li>Check all documentation and only pay if you're satisfied</li>
            </ul>
            <p-button  (click)="showDialogs()" class="align-items-center justify-content-center" label="Continue" styleClass="p-button-info w-21rem"></p-button>
        </p-dialog>
    </div>
      <p-inplace>
        <ng-template pTemplate="display">
          <p-button icon="pi pi-fw pi-envelope" label="Start Chat" styleClass="p-button-success w-21rem"></p-button>
        </ng-template>
        <ng-template pTemplate="content">
            <input type="text" value="Message" pInputText />
        </ng-template>
    </p-inplace>
    </div>
    <p-divider></p-divider>
    <h5><a href="https://www.instagram.com/charliesmotors.ke/"> Charlie Motors{{vehicle.user}} </a></h5>

  </div>

  </div>

<div class="col-12 md:col-12 lg:col-12 mt-2" style="text-align: center;">
  <u class="font-bold"><h5>Conditional Assessment</h5></u>
</div>
<div class="card col-12 md:col-12 lg:col-12">
  <p-tabMenu [scrollable]="true" [model]="items"  [activeItem]="activeItem"  (onTabChange)="onTabChange($event)"></p-tabMenu>
</div>
    <div class=" col-12 md:col-12 lg:col-12" *ngIf="selectedTab === 'Inspection Cert'">
    </div>
    <div class="card col-12 md:col-12 lg:col-12" *ngIf="selectedTab === 'Engine'">
      <div class="formgroup-inline">
        <div *ngFor="let engine of engines" class="field-checkbox col-5 md:col-5 lg:col-5">
          <p-checkbox name="group" [value]="engine" [inputId]="engine.key"></p-checkbox>
          <label [for]="engine.key">{{ engine.name }}</label>
        </div>
      </div>
    </div>
    <div class="card col-12 md:col-12 lg:col-12" *ngIf="selectedTab === 'Electricals'">
      <div class="formgroup-inline">
        <div *ngFor="let electrical of electricals" class="field-checkbox col-5 md:col-5 lg:col-5">
          <p-checkbox name="group" [value]="electrical" [inputId]="electrical.key"></p-checkbox>
          <label [for]="electrical.key">{{ electrical.name }}</label>
        </div>
      </div>
    </div>

    <div class="card col-12 md:col-12 lg:col-12" *ngIf="selectedTab === 'Transmissson & Clutch'">
      <div class="formgroup-inline">
        <div *ngFor="let clutch of clutches" class="field-checkbox col-5 md:col-5 lg:col-5">
          <p-checkbox name="group" [value]="clutch" [inputId]="clutch.key"></p-checkbox>
          <label [for]="clutch.key">{{ clutch.name }}</label>
        </div>
      </div>
    </div>

    <div class="card col-12 md:col-12 lg:col-12" *ngIf="selectedTab === 'Suspension & Steering'">
      <div class="formgroup-inline">
        <div *ngFor="let suspension of suspensions" class="field-checkbox col-5 md:col-5 lg:col-5">
          <p-checkbox name="group" [value]="suspension" [inputId]="suspension.key"></p-checkbox>
          <label [for]="suspension.key">{{ suspension.name }}</label>
        </div>
      </div>
    </div>

    <div class="card col-12 md:col-12 lg:col-12" *ngIf="selectedTab === 'Test Drive'">
      <div class="formgroup-inline">
        <div *ngFor="let testdrive of testdrives" class="field-checkbox col-5 md:col-5 lg:col-5">
          <p-checkbox name="group" [value]="testdrive" [inputId]="testdrive.key"></p-checkbox>
          <label [for]="testdrive.key">{{ testdrive.name }}</label>
        </div>
      </div>
    </div>

    <div class="card col-12 md:col-12 lg:col-12" *ngIf="selectedTab === 'Exterior'">
      <div class="formgroup-inline">
        <div *ngFor="let exterior of exteriors" class="field-checkbox col-5 md:col-5 lg:col-5">
          <p-checkbox name="group" [value]="exterior" [inputId]="exterior.key"></p-checkbox>
          <label [for]="exterior.key">{{ exterior.name }}</label>
        </div>
      </div>
    </div>

    <div class="card col-12 md:col-12 lg:col-12" *ngIf="selectedTab === 'Interior'">
      <div class="formgroup-inline">
        <div *ngFor="let interior of interiors" class="field-checkbox col-5 md:col-5 lg:col-5">
          <p-checkbox name="group" [value]="interior" [inputId]="interior.key"></p-checkbox>
          <label [for]="interior.key">{{ interior.name }}</label>
        </div>
      </div>
    </div>

    <div class="card col-12 md:col-12 lg:col-12" *ngIf="selectedTab === 'Airconditioning System'">
      <div class="formgroup-inline">
        <div *ngFor="let airsystem of airsystems" class="field-checkbox col-5 md:col-5 lg:col-5">
          <p-checkbox name="group" [value]="airsystem" [inputId]="airsystem.key"></p-checkbox>
          <label [for]="airsystem.key">{{ airsystem.name }}</label>
        </div>
      </div>
    </div>
</div>
</div>
<app-footer></app-footer>
