<app-topbar></app-topbar>
<div class="card"> </div>
<div class="view">
<div class="card grid p-fluid" >
  <div class="col-5 md:col-5 lg:col-5">
    <div class="card">
      <div class="card">
          <p-galleria [value]="images" [numVisible]="5" [circular]="true" [showItemNavigators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px' }">
            <ng-template pTemplate="item" let-item>
            <img [src]="item" style="width: 100%; display: block;" />
          </ng-template>
        </p-galleria>
      </div>
      <div class="grid formgrid">
        <p-divider align="left">
          <div class="inline-flex align-items-center">
              <b>Car features and options</b>
          </div>
      </p-divider>
      </div>
    </div>
  </div>
  <div class="col-7 md:col-7 lg:col-7">
    <div class="card">
      <div class="grid formgrid">
        <div><h2>{{vehicle.make}} {{vehicle.model}} ({{vehicle.yearOfManufactor.split('-')[0]}})</h2></div>
        </div>
        <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>

        <div class=" mt-2 text-red-500 hover:text-red-700  font-bold text-xl">Ksh. {{vehicle.price}}</div>
      <div class="grid formgrid">
          <p-tag severity="info" value={{vehicle.location}} class="m-2"></p-tag>
          <p-tag severity="info" value={{vehicle.color}} class="m-2"></p-tag>
          <p-tag severity="info" value={{vehicle.condition}} class="m-2"></p-tag>
          <p-tag severity="info" value={{vehicle.vehicleType}} class="m-2"></p-tag>

      </div>
      <div class="grid formgrid">
        <div class="p-fluid col-12 md:col-12 lg:col-12">
          <p-divider align="left">
            <div class="inline-flex align-items-center">
                <b>Car Specifications</b>
            </div>
          </p-divider>
          <div class="formgroup-inline">
            <dl class="col-6 md:col-12 lg:col-6">
              <dt>Make</dt>
              <dd><strong>  {{vehicle.make}}</strong></dd>
              <dt>Model</dt>
              <dd> <strong>{{vehicle.model}}</strong></dd>
              <dt>Location</dt>
              <dd><strong>{{vehicle.location}}</strong></dd>
              <dt>Price </dt>
              <dd><strong>Ksh. {{vehicle.price}}</strong></dd>
              <dt>Mileage</dt>
              <dd><strong>{{vehicle.mileage}} KM</strong></dd>
              <dt>Body type</dt>
              <dd><strong>{{vehicle.vehicleType}}</strong></dd>
            </dl>
            <dl class="col-6 md:col-12 lg:col-6">
              <dt>Fuel type </dt>
              <dd><strong>{{vehicle.fueltype}}{{vehicle.drivetype}}</strong></dd>
              <dt>Transmission </dt>
              <dd><strong>{{vehicle.transmission}}</strong></dd>
              <dt>Color</dt>
              <dd><strong>{{vehicle.color}}</strong></dd>
              <dt>Engine power </dt>
              <dd><strong>{{vehicle.engineSize}}</strong></dd>
              <dt>Condition</dt>
              <dd><strong>{{vehicle.condition}}</strong></dd>
            </dl>
          </div>
      </div>
    </div>
    <p-divider></p-divider>
    <!-- <h5>{{vehicle.user.firstName}}</h5> -->
    <p-button icon="pi pi-fw pi-phone" label="Contact Seller" styleClass="p-button-success w-21rem"></p-button>

  </div>

  </div>

<div class="col-12 md:col-12 lg:col-12 mt-2" style="text-align: center;">
  <u class="font-bold"><h5>Conditional Assessment</h5></u>
</div>
<div class="card col-12 md:col-12 lg:col-12">
  <p-tabMenu [scrollable]="true" [model]="items"  [activeItem]="activeItem"  (onTabChange)="onTabChange($event)"></p-tabMenu>
</div>
    <div class=" col-12 md:col-12 lg:col-12" *ngIf="selectedTab === 'Inspection Cert'">
    </div>
    <div class="card col-12 md:col-12 lg:col-12" *ngIf="selectedTab === 'Engine'">
      <div class="formgroup-inline">
        <div *ngFor="let engine of engines" class="field-checkbox col-5 md:col-5 lg:col-5">
          <p-checkbox name="group" [value]="engine" [inputId]="engine.key"></p-checkbox>
          <label [for]="engine.key">{{ engine.name }}</label>
        </div>
      </div>
    </div>
    <div class="card col-12 md:col-12 lg:col-12" *ngIf="selectedTab === 'Electricals'">
      <div class="formgroup-inline">
        <div *ngFor="let electrical of electricals" class="field-checkbox col-5 md:col-5 lg:col-5">
          <p-checkbox name="group" [value]="electrical" [inputId]="electrical.key"></p-checkbox>
          <label [for]="electrical.key">{{ electrical.name }}</label>
        </div>
      </div>
    </div>

    <div class="card col-12 md:col-12 lg:col-12" *ngIf="selectedTab === 'Transmissson & Clutch'">
      <div class="formgroup-inline">
        <div *ngFor="let clutch of clutches" class="field-checkbox col-5 md:col-5 lg:col-5">
          <p-checkbox name="group" [value]="clutch" [inputId]="clutch.key"></p-checkbox>
          <label [for]="clutch.key">{{ clutch.name }}</label>
        </div>
      </div>
    </div>

    <div class="card col-12 md:col-12 lg:col-12" *ngIf="selectedTab === 'Suspension & Steering'">
      <div class="formgroup-inline">
        <div *ngFor="let suspension of suspensions" class="field-checkbox col-5 md:col-5 lg:col-5">
          <p-checkbox name="group" [value]="suspension" [inputId]="suspension.key"></p-checkbox>
          <label [for]="suspension.key">{{ suspension.name }}</label>
        </div>
      </div>
    </div>

    <div class="card col-12 md:col-12 lg:col-12" *ngIf="selectedTab === 'Test Drive'">
      <div class="formgroup-inline">
        <div *ngFor="let testdrive of testdrives" class="field-checkbox col-5 md:col-5 lg:col-5">
          <p-checkbox name="group" [value]="testdrive" [inputId]="testdrive.key"></p-checkbox>
          <label [for]="testdrive.key">{{ testdrive.name }}</label>
        </div>
      </div>
    </div>

    <div class="card col-12 md:col-12 lg:col-12" *ngIf="selectedTab === 'Exterior'">
      <div class="formgroup-inline">
        <div *ngFor="let exterior of exteriors" class="field-checkbox col-5 md:col-5 lg:col-5">
          <p-checkbox name="group" [value]="exterior" [inputId]="exterior.key"></p-checkbox>
          <label [for]="exterior.key">{{ exterior.name }}</label>
        </div>
      </div>
    </div>

    <div class="card col-12 md:col-12 lg:col-12" *ngIf="selectedTab === 'Interior'">
      <div class="formgroup-inline">
        <div *ngFor="let interior of interiors" class="field-checkbox col-5 md:col-5 lg:col-5">
          <p-checkbox name="group" [value]="interior" [inputId]="interior.key"></p-checkbox>
          <label [for]="interior.key">{{ interior.name }}</label>
        </div>
      </div>
    </div>

    <div class="card col-12 md:col-12 lg:col-12" *ngIf="selectedTab === 'Airconditioning System'">
      <div class="formgroup-inline">
        <div *ngFor="let airsystem of airsystems" class="field-checkbox col-5 md:col-5 lg:col-5">
          <p-checkbox name="group" [value]="airsystem" [inputId]="airsystem.key"></p-checkbox>
          <label [for]="airsystem.key">{{ airsystem.name }}</label>
        </div>
      </div>
    </div>
</div>
</div>
<app-footer></app-footer>
