<app-topbar></app-topbar>
<div class="card"> </div>
<div class="view">
<!-- <app-preview></app-preview> -->
<!-- <p>preview works!</p> -->
<!-- <div class="card flex justify-content-center">
  <p-sidebar [(visible)]="sidebarVisible3" [fullScreen]="true">
    <h3>Full Screen Sidebar</h3>
  </p-sidebar>
  <p-button (click)="sidebarVisible3 = true" icon="pi pi-th-large"></p-button>
</div> -->

<div class="card grid p-fluid" >
  <div class="col-5 md:col-5 lg:col-5">
    <div class="card">
      <h5>Image</h5>
			<div class="grid formgrid">
				<div class="col-12 mb-2 lg:col-12 lg:mb-0">

      <div class="card">
        <!-- <p-galleria [(value)]={{vehicle.image}} [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px' }" [numVisible]="5"> -->
          <!-- <p-galleria value={{vehicle.image}}>   -->
          <ng-template pTemplate="item" let-item>
                <img [src]="vehicle.image" style="width: 100%;" />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
                <div class="grid grid-nogutter justify-content-center">
                    <img [src]="vehicle.image" />
                </div>
            </ng-template>
        <!-- </p-galleria> -->
      </div>
          <!-- <p-image src={{vehicle.image}} alt="Image" width="100%" [preview]="true"></p-image> -->
				</div>
			</div>
      <div class="grid formgrid">
        <p-divider align="left">
          <div class="inline-flex align-items-center">
              <b>Car features and options</b>
          </div>
      </p-divider>
      </div>
    </div>
  </div>
  <div class="col-7 md:col-7 lg:col-7">
    <div class="card">
      <div class="grid formgrid">
        <div class="mb-5"><h2>{{vehicle.make}} {{vehicle.model}} ({{vehicle.yearOfManufactor.split('-')[0]}})</h2></div>
        </div>
      <!-- <div class="grid formgrid">
        <div class="text-500 w-6 md:w-2 font-medium">Genre</div>
                <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                    <p-chip label="Automatic" class="mr-2"></p-chip>
                    <p-chip label="54637km" class="mr-2"></p-chip>
                    <p-chip label="1080CC"></p-chip>
                    <p-chip label="Automatic" class="mr-2"></p-chip>
                    <p-chip label="54637km" class="mr-2"></p-chip>
                    <p-chip label="1080CC"></p-chip>
                </div>
          <p-tag severity="success" value="Automatic" class="m-2"></p-tag>
          <p-tag severity="secondary" value="54637km" class="m-2"></p-tag>
          <p-tag severity="success" value="1080CC" class="m-2"></p-tag>
          <p-tag severity="success" value="Mombasa" class="m-2"></p-tag>
          <p-tag severity="success" value="Automatic" class="m-2"></p-tag>
          <p-tag severity="success" value="54637km" class="m-2"></p-tag>
          <p-tag severity="success" value="1080CC" class="m-2"></p-tag>
          <p-tag severity="success" value="Mombasa" class="m-2"></p-tag>
      </div> -->
      <div class="grid formgrid">
        <div class="p-fluid col-12 md:col-12 lg:col-12">
          <p-divider align="left">
            <div class="inline-flex align-items-center">
                <b>Car Specifications</b>
            </div>
          </p-divider>
          <div class="formgroup-inline">
            <dl class="col-6 md:col-12 lg:col-6">
              <dt>Make</dt>
              <dd><strong>  {{vehicle.make}}</strong></dd>
              <dt>Model</dt>
              <dd> <strong>{{vehicle.model}}</strong></dd>
              <dt>Location</dt>
              <dd><strong>{{vehicle.location}}</strong></dd>
              <dt>Price </dt>
              <dd><strong>{{vehicle.price}}</strong></dd>
              <dt>Mileage</dt>
              <dd><strong>{{vehicle.mileage}}</strong></dd>
              <dt>Body type</dt>
              <dd><strong>{{vehicle.vehicleType}}</strong></dd>
            </dl>
            <dl class="col-6 md:col-12 lg:col-6">
              <dt>Fuel type </dt>
              <dd><strong>{{vehicle.fueltype}}{{vehicle.drivetype}}</strong></dd>
              <dt>Transmission </dt>
              <dd><strong>{{vehicle.transmission}}</strong></dd>
              <dt>Color</dt>
              <dd><strong>{{vehicle.color}}</strong></dd>
              <dt>Engine power </dt>
              <dd><strong>{{vehicle.engineSize}}</strong></dd>
              <dt>Condition</dt>
              <dd><strong>{{vehicle.condition}}</strong></dd>
            </dl>
          </div>
          <!-- <div class="formgroup-inline mb-2">
            <label for="make" class="col-5 md:col-5 lg:col-5" style="white-space: pre-line;">Make- <strong>  {{vehicle.make}}</strong></label>
            <label for="model" class="col-5 md:col-5 lg:col-5">Model - <strong>{{vehicle.model}}</strong></label>
          </div>

          <div class="formgroup-inline  mb-2">
            <label for="yearOfManufacture" class="col-5 md:col-5 lg:col-5">Year</label>
            <label for="location" class="col-5 md:col-5 lg:col-5">Location - <strong>{{vehicle.location}}</strong></label>
          </div>

          <div class="formgroup-inline mb-2">
            <label for="price" class="col-5 md:col-5 lg:col-5">Price - <strong>{{vehicle.price}}</strong></label>
            <label for="mileage" class="col-5 md:col-5 lg:col-5">Mileage - <strong>{{vehicle.mileage}}</strong></label>
          </div>

          <div class="formgroup-inline mb-2">
            <label for="fueltype" class="col-5 md:col-5 lg:col-5">Fuel type - <strong>{{vehicle.fueltype}}</strong></label>
            <label for="vehicleType" class="col-5 md:col-5 lg:col-5">Body type - <strong>{{vehicle.vehicleType}}</strong></label>
          </div>

          <div class="formgroup-inline mb-2">
            <label for="transmission" class="col-5 md:col-5 lg:col-5">Transmission - <strong>{{vehicle.transmission}}</strong></label>
            <label for="color" class="col-5 md:col-5 lg:col-5">Color - <strong>{{vehicle.color}}</strong></label>
          </div>

          <div class="formgroup-inline mb-2">
            <label for="steering" class="col-5 md:col-5 lg:col-5">Steering</label>
            <label for="engineSize" class="col-5 md:col-5 lg:col-5">Engine power - <strong>{{vehicle.engineSize}}</strong></label>
          </div>

          <div class="formgroup-inline mb-2">
            <label for="drivetype" class="col-5 md:col-5 lg:col-5">Drive train</label>
            <label for="description" class="col-5 md:col-5 lg:col-5">Description</label>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<!-- <button pButton pRipple label="Submit" class="w-20rem p-3 text-xl ml-5" type="submit"></button> -->

<h5>Conditional Assessment</h5>
<!-- <hr class="width:65px"> -->
<p-divider></p-divider>
<div class="card col-12 md:col-12 lg:col-12">
  <p-tabMenu [scrollable]="true" [model]="items" [activeItem]="activeItem"></p-tabMenu>
</div>
</div>
</div>
<app-footer></app-footer>
