<app-topbar></app-topbar>
<div class="profile-display">
  <div class="card"></div>
<div class="card col-12 formgroup-inline">
  <div class=" p-formgrid grid col-12">
  <h5>My account</h5>
  <a (click)="toggleShowMore()" *ngIf="showMore" class="ml-2" style="cursor: pointer;"><i class="pi pi-plus" style="font-size: 1.5rem"></i></a>
  <a (click)="toggleShowMore()" *ngIf="!showMore" class="ml-2" style="cursor: pointer;"><i class="pi pi-minus" style="font-size: 1.5rem"></i></a>
</div>
<div class="col-12 pb-3 pt-3" *ngIf="!showMore">
  <div class="formgroup-inline gap-3" >
    <div class="col-12 md:col-12 lg:col-5 pl-8 ">
      <div class="card p-fluid justify-content-center align-items-center">
        <!-- <p-fileUpload name="myfile[]" url="https://www.primefaces.org/cdn/api/upload.php" [multiple]="true" accept="image/*">
            <ng-template pTemplate="toolbar">
                <div class="py-3">Upload 3 Files</div>
            </ng-template>
            <ng-template let-file pTemplate="file">
                <div>Custom UI to display a file</div>
            </ng-template>
            <ng-template pTemplate="content" let-files>
              <i class="pi pi-user p-5" style="font-size: 15rem"></i>
                <div>Click here to add an image and update your profile</div>
            </ng-template>
        </p-fileUpload> -->
  <i  *ngIf="!clicked" class="pi pi-user field " style="font-size: 20.0rem"></i>
  <p-fileUpload mode="basic"  chooseLabel="Click here to add an image" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" (onUpload)="onUpload($event)"></p-fileUpload>
</div>
  </div>
<!-- </div> -->
  <div class="col-12 md:col-12 lg:col-6 ">
    <div class="card p-fluid justify-content-center align-items-center">
    <div class="p-formgrid grid">
      <div class="mb-2 field col">
        <label for="firstName" class="block text-900 font-medium mb-2">First name</label>
        <input id="firstName" type="text" value="Christine" pInputText style="padding:1rem"><br>
      </div>
      <div class="mb-2 field col">
        <label for="lastName" class="block text-900 font-medium mb-2">Last name</label>
        <input id="lastName" type="text" value="Lora" pInputText style="padding:1rem"><br>
      </div>
    </div>
    <div class="mb-2 field">
      <label for="mobile" class="block text-900 font-medium mb-2">Phone number</label>
      <input id="mobile" type="number" value="710559980" pInputText  style="padding:1rem"><br>
    </div>
    <div class="mb-2 field">
      <label for="email" class="block text-900 font-medium mb-2">Email</label>
      <input id="email" type="email" value="christine@gmail.com" pInputText style="padding:1rem"><br>
    </div>
  <!-- <div class="grid"></div> -->
    <div class="field flex align-items-center justify-content-between ">
      <p>This email has not been verified  <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)" [routerLink]="['/login']">Verify now</a></p>
    </div>
    <div class=" field flex align-items-center justify-content-between mt-3">
      <p>Want to change password  <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)" [routerLink]="['/login']">Click here</a></p>
    </div>
  </div>
  </div>
  </div>
  <p-button class=" flex justify-content-center" styleClass="p-button-success w-21rem">Save</p-button>
</div>
</div>
<div class="formgroup-inline col-12 gap-5">
<div class="card col-12 md:col-12 lg:col-5 formgroup-inline gap-5">
  <h5>Your vehicles for sale</h5>
  <a (click)="toggleShowOnSaleVehicles()" *ngIf="!showOnSaleVehicles" class="ml-2" style="cursor: pointer;"><i class="pi pi-plus" style="font-size: 1.0rem"></i></a>
  <a (click)="toggleShowOnSaleVehicles()" *ngIf="showOnSaleVehicles" class="ml-2" style="cursor: pointer;"><i class="pi pi-minus" style="font-size: 1.0rem"></i></a>

</div>
<div class="card col-12 md:col-12 lg:col-5 formgroup-inline gap-5 ">
  <h5>Your sold vehicles</h5>
  <a (click)="toggleShowSoldVehicles()" *ngIf="!showSoldVehicles" class="ml-2" style="cursor: pointer;"><i class="pi pi-plus" style="font-size: 1.0rem"></i></a>
  <a (click)="toggleShowSoldVehicles()" *ngIf="showSoldVehicles" class="ml-2" style="cursor: pointer;"><i class="pi pi-minus" style="font-size: 1.0rem"></i></a>

</div>
</div>
</div>
<app-footer></app-footer>
