<app-topbar></app-topbar>
<p-toast></p-toast>
<div class="profile-display">
  <div class="card"></div>
<div class="formgroup-inline">
  <div class="col-10 md:col-10 lg:col-10">
    <p-panel header="My account" [toggleable]="true">
      <div class="col-12 pb-3 pt-3" >
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit(user.id)">
          <div class="formgroup-inline mb-5" >
            <div class="col-12 md:col-12 lg:col-6">
              <div class="flex align-items-center justify-content-center">
                <div class="card" style="background-color: rgb(207, 205, 205);" (click)="fileInput.click()">
                  <div class="card-body">
                    <div class="flex align-items-center justify-content-center">
                      <i *ngIf="!imageSelected" class="pi pi-user field " style="font-size: 12.5rem"></i>
                      <img *ngIf="imageSelected" [src]="selectedImage" alt="profile-picture" class="profile-picture mb-5">
                    </div>
                    <div class="flex align-items-center justify-content-center">
                      <p >Click or drag an image here to update your profile picture</p>
                    </div>
                  </div>
                </div>
                <input type="file" #fileInput style="display: none;" formControlName="profileImage" (change)="onFileSelected($event)" >
              </div>
            </div>
            <div class="col-12 md:col-12 lg:col-6 ">
              <div class="p-fluid justify-content-center align-items-center">
              <div class="p-formgrid grid">
                <div class="mb-2 field col">
                  <label for="firstName" class="block text-900 font-medium mb-2">First name</label>
                  <input id="firstName" type="text" formControlName="firstName" pInputText ><br>
                </div>
                <div class="mb-2 field col">
                  <label for="lastName" class="block text-900 font-medium mb-2">Last name</label>
                  <input id="lastName" formControlName="lastName" type="text" pInputText ><br>
                </div>
              </div>
              <div class="mb-2 field">
                <label for="phoneNumber" class="block text-900 font-medium mb-2">Phone number</label>
                <input id="phoneNumber" type="number"  formControlName="phoneNumber" pInputText ><br>
              </div>
              <div class="mb-2 field">
                <label for="email" class="block text-900 font-medium mb-2">Email</label>
                <input id="email" type="email" formControlName="email" pInputText ><br>
              </div>

            <!-- <div class="grid"></div> -->
              <div class="field flex align-items-center justify-content-between ">
                <i [style]="{'font-size':'12px'}">This email has not been verified  <a class="font-xm no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)">Verify now</a></i>
              </div>
              <div class="mb-2 field">
                <label for="companyUrl" class="block text-900 font-medium mb-2">URL</label>
                <input id="companyUrl" type="url" formControlName="companyUrl" pInputText ><br>
              </div>

              <!-- <div class="mb-2 field">
                <label for="password" class="block text-900 font-medium text-xl mb-2">Password</label>
                <p-password id="password" formControlName="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" [toggleMask]="true" styleClass="mb-1"></p-password><br>
              </div> -->

              <div class=" field flex align-items-center justify-content-between mt-3">
                <p>Want to change password  <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)">Click here</a></p>
              </div>
            </div>
            </div>
          </div>
          <p-button class="flex justify-content-center" styleClass="p-button-success w-21rem" type="submit" >Save</p-button>
        </form>
      </div>
    </p-panel>
  </div>
</div>
<div class="formgroup-inline mb-5">
<div class="col-10 md:col-10 lg:col-5">
  <p-panel header="Your vehicles for sale" [toggleable]="true">
    <div  class="col-12 formgroup-inline" *ngFor="let vehicle of vehicles">
      <div class="col-4">
      <p-image src="{{vehicle.image}}" alt="Image" width="100%" [preview]="true"></p-image>
    </div>
    <div class="col-8">
      <h6>{{vehicle.make}} {{vehicle.model}} {{vehicle.yearOfManufacture.split('-')[0]}}</h6>
      <div class="m-2 text-red-500 font-bold ">{{vehicle.price | currency:'Ksh. ':'symbol':'1.0-0'}}</div>
      <div class="flex align-items-center justify-content-between mb-5">
        <div class="flex align-items-center">
            <p-checkbox id="sold" [binary]="true" styleClass="mr-2"></p-checkbox>
            <label for="sold">Sold</label>
        </div>
        <a class="font-medium no-underline ml-2  cursor-pointer" style="color: var(--primary-color)"routerLink="/basicinfo" (click)="getVehicle(vehicle.id)">Edit</a>
      </div>
      <p-divider></p-divider>
    </div>
    </div>
  </p-panel>
</div>
<div class="col-10 md:col-10 lg:col-5">
  <p-panel header="Your sold vehicles" [toggleable]="true">
    <!-- <div  class="col-12"></div> -->
</p-panel>
</div>
</div>
<app-footer></app-footer>
