<div class="layout-footer">
    <div class="grid p-fluid m-5 mt-0 col-4 md:col-4 lg:col-4 ">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="Logo" height="20" class="mr-2"/>
        <span class="font-medium ml-2">GariMax</span>
        <div class="col-12 md:col-12 lg:col-12">
            <a class="font-medium ml-2">Contact us</a>
        </div>
        <div class="col-12 md:col-12 lg:col-12">
            <a class="font-medium ml-2">About us</a>
        </div>
        <div class="col-12 md:col-12 lg:col-12">
            <a class="font-medium ml-2"></a>
        </div>
        <div class="col-12 md:col-12 lg:col-12">
            <a class="font-medium ml-2"></a>
        </div>
        <!-- <a class="font-medium ml-2">Contact us</a>
        <a class="font-medium ml-2">About us</a>
        <a class="font-medium ml-2">Contact us</a>
        <a class="font-medium ml-2">Contact us</a> -->

    </div>
    <div class=" grid p-fluid m-5 mt-0 col-4 md:col-4 lg:col-4 ">

    </div>
    <div class=" grid p-fluid m-5 mt-0 col-4 md:col-4 lg:col-4 ">
        <div class="field grid">
            <i class="pi pi-twitter m-3" style="color: rgb(54, 135, 241); font-size: 2.0rem"></i>
            <i class="pi pi-facebook m-3" style="color: rgb(17, 87, 179); font-size: 2.0rem"></i>
            <i class="pi pi-whatsapp m-3" style="color: rgb(16, 190, 10); font-size: 2.0rem"></i>
            <!-- <i class="pi pi-tiktok m-3" style="color: rgb(12, 12, 12); font-size: 2.0rem"></i> -->
            <i class="pi pi-youtube m-3" style="color: rgb(240, 13, 13); font-size: 2.0rem"></i>
        </div><br>
        <!-- <div class="field grid">
         <button>Send Feedback</button>
         </div> -->
    </div>
</div>
