<div class="layout-footer grid">
    <div class="grid p-fluid mt-0  ml-5 col-12 md:col-6 lg:col-4 ">
        <img src="assets/layout/images/garimax-logo2.png" alt="Logo" height="20" class="mr-2"/>
        <span class="font-medium ml-2">GariMax</span>
        <div class="col-12 md:col-12 lg:col-12 ml-5">
            <a class="font-medium ml-2">Contact us</a>
        </div>
        <div class="col-12 md:col-12 lg:col-12 ml-5">
            <a class="font-medium ml-2">About us</a>
        </div>
        <div class="col-12 md:col-12 lg:col-12">
            <a class="font-medium ml-2"></a>
        </div>
        <div class="col-12 md:col-12 lg:col-12">
            <a class="font-medium ml-2"></a>
        </div>
    </div>
    <div class="grid p-fluid ml-5 mt-0 col-12 md:col-6 lg:col-3 ">
      <div class="col">
        <span class="pi pi-plus mb-3"> Buying advice </span><br>
        <span class="pi pi-plus mb-3"> Quick search </span>
        <!-- <span class="pi pi-plus"></span>
        <span class="pi pi-plus"></span> -->

      </div>
    </div>
    <div class="grid p-fluid ml-5 mt-0 col-12 md:col-6 lg:col-4 ">
      <div class="col-12 md:col-12 lg:col-12">
        <p-button  styleClass="p-button-secondary p-button-text">Send Feedback</p-button >
      </div>
      <div class="col-12 md:col-12 lg:col-12 field grid mt-0">
          <i class="pi pi-twitter ml-4" style="color: rgb(54, 135, 241); font-size: 2.0rem"></i>
          <i class="pi pi-facebook ml-4" style="color: rgb(17, 87, 179); font-size: 2.0rem"></i>
          <i class="pi pi-whatsapp ml-4" style="color: rgb(16, 190, 10); font-size: 2.0rem"></i>
          <!-- <i class="pi pi-tiktok m-3" style="color: rgb(12, 12, 12); font-size: 2.0rem"></i> -->
          <i class="pi pi-youtube ml-4" style="color: rgb(240, 13, 13); font-size: 2.0rem"></i>
      </div>
        <!-- <div class="field grid">
         <button>Send Feedback</button>
         </div> -->
    </div>
</div>
