<div class="layout-topbar">
    <a class="layout-topbar-logo ml-6" routerLink="/">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">
        <span>GARIMAX</span>
    </a>

    <!-- <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button> -->

    <!-- <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button> -->

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
       <div>
        <button class="p-link layout-topbar-button" (click)="toggle()" label="Show Overlay">
            <i class="pi pi-user"></i>
            <span>Profile</span>
            <div>
            <p-overlay [(visible)]="overlayVisible" [responsive]="{ breakpoint: '640px', direction: 'bottom', contentStyleClass: 'h-20rem' }" contentStyleClass="p-4 surface-overlay shadow-2 border-round"  [routerLink]="['/sociallogin']">
                Sign in
                <ul>
                    <li [routerLink]="['/sociallogin']">Sign In</li>
                    <li [routerLink]="['/signup']">Sign Up</li>
                </ul>
            </p-overlay>
            </div>
        </button>
    </div> <div>
        <button class="p-link layout-topbar-button" (click)="toggle()" label="Show Overlay">
            <i class="pi pi-users"></i>
            <span>Profile</span>
            <div >
            <p-overlay [(visible)]="overlayVisible" [responsive]="{ breakpoint: '640px', direction: 'bottom', contentStyleClass: 'h-20rem' }" contentStyleClass="p-4 surface-overlay shadow-2 border-round" >
                <ul>
                    <li [routerLink]="['/sociallogin']">Sign In</li>
                    <li [routerLink]="['/vendorsignup']">Sign Up</li>
                </ul>
            </p-overlay>
          
            </div>
        </button>
    </div>
        <!-- <button class="p-link layout-topbar-button">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button> -->
    </div>
</div>
