<div class="layout-footer">
    <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="Logo" height="20" class="mr-2"/>
    by
    <span class="font-medium ml-2">GariMax</span>
    <i class="pi pi-twitter m-3" style="color: rgb(54, 135, 241); font-size: 2.0rem"></i>
    <i class="pi pi-facebook m-3" style="color: rgb(17, 87, 179); font-size: 2.0rem"></i>
    <i class="pi pi-whatsapp m-3" style="color: rgb(16, 190, 10); font-size: 2.0rem"></i>
    <!-- <i class="pi pi-tiktok m-3" style="color: rgb(12, 12, 12); font-size: 2.0rem"></i> -->
    <i class="pi pi-youtube m-3" style="color: rgb(240, 13, 13); font-size: 2.0rem"></i>

</div>
