<div class="layout-topbar">
    <a class="layout-topbar-logo ml-5" routerLink="/">
        <img src="assets/layout/images/garimax-logo2.png" alt="logo">
        <span routerLink="/">GARIMAX</span>
    </a>
    <div class="flex justify-content-center m-2 p-7">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" class="p-inputtext-sm"  style="width: 400px;" placeholder="Search" [(ngModel)]="allVehicles.searchText"/>
      </span>
    </div>

    <button class="p-link m">
      <span class="span-toolbar" routerLink="#">Used cars</span>
    </button>
    <button class="p-link m">
      <span class="span-toolbar" routerLink="/basicinfo">New cars</span>
    </button>
      <button class="p-link m">
        <span class="span-toolbar" [routerLink]="loggedin? '/basicinfo' : '/vendorsignup'">Sell car</span>
      </button>
      <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button" routerLink="/sociallogin">
            <i class="pi pi-user"></i>
            <span>Sign In</span>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button>
    </div>
    <!-- <div *ngIf="loggedin">
      <button class="p-link m">
        <span class="span-toolbar" routerLink="/uploadcar">Sell car</span>
      </button>
      <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link m">
          <span class="span-toolbar">{{ds.user.firstName}}</span>
          <span class="span-toolbar">{{username}}</span>
        </button>
        <button class="p-link layout-topbar-button" routerLink="/sociallogin">
            <i class="pi pi-user"></i>
            <span>Sign In</span>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button>
      </div>
    </div> -->
</div>
