<p>filters works!</p>
<div class="card flex justify-content-center">
    <p-dropdown [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown>
</div>
<div class="card flex justify-content-center">
    <p-dropdown [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown>
</div>
<div class="card flex justify-content-center">
    <p-dropdown [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown>
</div>
<div class="card flex justify-content-center">
    <p-dropdown [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown>
</div>
<div class="card flex justify-content-center">
    <p-dropdown [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown>
</div>