<p-toast></p-toast>
<div class="formgroup-inline  justify-content-center p-5">
  <div class="card grid p-fluid mt-0 p-5 col-12 md:col-5 lg:col-5 ">
    <form [formGroup]="carDetsForm" (ngSubmit)="onSubmit(vehicle.id)">
            <div class="formgroup-inline col-12 md:col-12 lg:col-12 m-0">
              <div class="field col-12 md:col-5 lg:col-5 mb-0 p-0">
                <span class="field">
                  <label for="dropdown">Fuel Type</label>
                  <p-dropdown inputId="dropdown" formControlName="fuelType" [options]="fuelType"  optionValue="fuelType" optionLabel="fuelType" placeholder="{{vehicle?.fuelType}}"></p-dropdown>
                    <small *ngIf="carDetails['fuelType'].invalid && isSubmitted" class="p-error">Fuel type is required</small>
                </span>
              </div>
              <div class="field col-12 md:col-5 lg:col-5  mb-0 p-0">
                <span class="field">
                  <label for="dropdown">Body Type</label>
                  <p-dropdown inputId="dropdown" formControlName="bodyType"  [options]="bodyType"  optionValue="bodyType" optionLabel="bodyType" placeholder="{{vehicle?.bodyType}}"></p-dropdown>
                    <small *ngIf="carDetails['bodyType'].invalid && isSubmitted" class="p-error">Body type is required</small>
                </span>
              </div>
            </div>
            <div class="formgroup-inline col-12 md:col-12 lg:col-12">
              <div class="field col-12 md:col-5 lg:col-5 mb-0 p-0">
                <span class="field">
                  <label for="dropdown">Color</label>
                  <p-dropdown inputId="dropdown" formControlName="color"   [options]="color"  optionValue="color" optionLabel="color" placeholder="{{vehicle?.color}}"></p-dropdown>
                    <small *ngIf="carDetails['color'].invalid && isSubmitted" class="p-error">Color is required</small>
                </span>
              </div>
              <div class="field col-12 md:col-5 lg:col-5 mb-3 p-0">
                <span class="field">
                  <label for="dropdown">Vin Number</label>
                  <input type="text" pInputText formControlName="vinNumber" value="{{vehicle?.vinNumber}}"/>
                    <small *ngIf="carDetails['vinNumber'].invalid && isSubmitted" class="p-error">Steering is required</small>
                </span>
            </div>
            </div>
            <div class="formgroup-inline col-12 md:col-12 lg:col-12">
              <div class="field col-12 md:col-5 lg:col-5 mb-3 p-0">
                <span class="field">
                  <label for="dropdown">Engine Size(CC)</label>
                  <input type="text" pInputText value="CC" formControlName="engineSize" value="{{vehicle?.engineSize}}"/>
                  <!-- <p-dropdown inputId="dropdown" formControlName="engineSize" [options]="engineSize"  optionValue="engineSize" optionLabel="engineSize" placeholder="500 CC"></p-dropdown> -->
                    <small *ngIf="carDetails['engineSize'].invalid && isSubmitted" class="p-error">Engine size is required</small>
                </span>
              </div>
              <div class="field col-12 md:col-5 lg:col-5 mb-0 p-0">
                <span class="field">
                  <label for="dropdown">Engine Power</label>
                  <p-dropdown inputId="dropdown" formControlName="enginePower"[options]="enginePower" optionValue="enginePower"  optionLabel="enginePower" placeholder="{{vehicle?.enginePower}}"></p-dropdown>
                  <small *ngIf="carDetails['enginePower'].invalid && isSubmitted" class="p-error">Engine power is required</small>
                </span>
              </div>
            </div>
            <div class="formgroup-inline col-12 md:col-12 lg:col-12">
              <div class="field col-12 md:col-5 lg:col-5 mb-0 p-0">
                  <span class="field">
                    <label for="dropdown">Condition</label>
                    <p-dropdown inputId="dropdown" formControlName="condition" [options]="condition"  optionValue="state" optionLabel="state" placeholder="{{vehicle?.condition}}"></p-dropdown>
                      <small *ngIf="carDetails['condition'].invalid && isSubmitted" class="p-error">Condition is required</small>
                  </span>
              </div>
            </div>
            <div class="formgroup-inline col-12 md:col-12 lg:col-12">
              <div class="field col-12 md:col-5 lg:col-5 mb-0 p-0">
                <span class="field">
                  <label for="dropdown">Steering(LHD/RHD)</label>
                  <p-dropdown inputId="dropdown" formControlName="steering" [options]="steering"  optionValue="steering" optionLabel="steering" placeholder="{{vehicle?.driveTrain}}"></p-dropdown>
                    <small *ngIf="carDetails['steering'].invalid && isSubmitted" class="p-error">Steering is required</small>
                </span>
            </div>
              <div class="field col-12 md:col-5 lg:col-5 mb-0 p-0">
                <span class="field">
                  <label for="dropdown">Usage</label>
                  <p-dropdown inputId="dropdown" formControlName="usage" [options]="usage"  optionValue="usage" optionLabel="usage" placeholder="{{vehicle?.usage}}"></p-dropdown>
                    <small *ngIf="carDetails['usage'].invalid && isSubmitted" class="p-error">Usage is required</small>
                </span>
            </div>
            </div>
            <div class="formgroup-inline col-12 md:col-12 lg:col-12">
                <div class="field col-12 md:col-5 lg:col-5 mb-0 p-0">
                    <span class="field">
                      <label for="dropdown">Acceleration</label>
                      <p-dropdown inputId="dropdown" formControlName="acceleration" [options]="acceleration"  optionValue="acceleration" optionLabel="acceleration" placeholder="{{vehicle?.acceleration}}"></p-dropdown>
                      <small *ngIf="carDetails['acceleration'].invalid && isSubmitted" class="p-error">Acceleration is required</small>
                    </span>
                </div>
                <div class="field col-12 md:col-5 lg:col-5 mb-0 p-0">
                  <span class="field">
                    <label for="dropdown">Duty paid</label>
                    <p-dropdown inputId="dropdown" formControlName="duty" [options]="duty"  optionValue="duty" optionLabel="duty" placeholder="{{vehicle?.duty}}"></p-dropdown>
                    <small *ngIf="carDetails['duty'].invalid && isSubmitted" class="p-error">Duty is required</small>
                  </span>
              </div>
            </div>
            <div class="p-fluid mb-3">
              <div class="field ml-3">
                <label>Upload inspection certificate</label>
              </div>
              <div class="field ml-3">
                <p-fileUpload mode="basic" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept=".pdf"  (onUpload)="onBasicUploadAuto($event)" [auto]="true" chooseLabel="Browse"></p-fileUpload>
              </div>

              <div class="field ml-3 mt-4">
                <span class="p-float-label">
                  <textarea id="float-input" formControlName="description" rows="4" cols="30" value="{{vehicle?.description}}" pInputTextarea  class="w-full"></textarea>
                  <label for="float-input">Description</label>
                  <small *ngIf="carDetails['description'].invalid && isSubmitted" class="p-error">Description is required</small>
                </span>
              </div>
            </div>
    </form>
  </div>
  <div class="card grid p-fluid m-5 mt-0 col-12 md:col-5 lg:col-5">
      <h4 class="m-5">
        Car Options and Accessories
      </h4>
      <div class="col-12 md:col-12 lg:col-12">
        <div class="formgroup-inline">
          <div *ngFor="let option of options" class="field-checkbox col-5 md:col-5 lg:col-5">
            <p-checkbox [value]="option" [(ngModel)]="selectedOptions" (onChange)="onCheckboxChange()"></p-checkbox>
            <label>{{ option.name }}</label>
          </div>
        </div>
      </div>
  </div>
</div>
<form [formGroup]="carDetsForm" (ngSubmit)="onSubmit(vehicle.id)">
<div class="field grid col-12 md:col-12 lg:col-12 ml-4 justify-content-center gap-3">
  <button pButton pRipple label="Back" (click)="back(vehicle.id)" class="col-5 md:col-5 lg:col-5 p-3 text-xl" type="button"></button>
  <button pButton pRipple label="Finish" class="col-5 md:col-5 lg:col-5 p-3 text-xl"  type="submit"></button>
</div>
</form>
