<div class="formgroup-inline justify-content-center">
  <div class="card grid p-fluid mt-0 p-5 col-4 md:col-4 lg:col-4">
    <div class="flex mt-5 mb-5 justify-content-center col-12 md:col-12 lg:col-12">
      <p-toast></p-toast>
      <p-fileUpload name="demo[]" class="col-12 md:col-12 lg:col-12" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)" [multiple]="true" accept="image/*" maxFileSize:string = "1000000">
          <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                  <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
              </ul>
          </ng-template>
      </p-fileUpload>
    </div>
  </div>
  <div class="card grid p-fluid mt-0 m-5 col-5 md:col-5 lg:col-5">
    <h5 class="m-5">
      How to upload car images to sell faster
    </h5>
    <ul>
      <li class="mb-5">
        The first image is your representative picture. For better illustration, you should choose the landscape image with clear front-rear exterior view.
      </li>
      <li class="mb-3" > Exterior: Car Front, Body, Rear, Back, Engine...</li>
      <li class="mb-3" >Interior: Dashboard, Seat, ...</li>
      <li class="mb-3" >SHOULD NOT:</li>
      <li class="mb-3" >Use images from the internet</li>
      <li class="mb-3" >Insert phone number, website, logo </li>
    </ul>
  </div>
  <div class="field grid col-12 md:col-12 lg:col-12 ml-4 justify-content-center">
    <p-button styleClass="p-button-text" class="mr-8">Back</p-button>
    <p-button styleClass="p-button-text">Next</p-button>
</div>
</div>
