<p-toast></p-toast>
<form [formGroup]="imageForm" (ngSubmit)="onSubmit()">
  <div class="formgroup-inline justify-content-center">
    <div class="card grid p-fluid mt-0 p-5 col-4 md:col-4 lg:col-4">
      <div class="flex mt-2 mb-3 justify-content-center col-12 md:col-12 lg:col-12">
          <p-toast></p-toast>
          <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" [maxFileSize]="5000000"  (onUpload)="onUpload($event)" [multiple]="true" accept="image/*">
              <ng-template pTemplate="content">
                  <ul *ngIf="uploadedFiles.length">
                      <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                  </ul>
              </ng-template>
          </p-fileUpload>
      </div><br />
      <small *ngIf="!imageUploaded && isSubmitted" class="ml-8 p-error">Select Image and Click upload to submit selected images</small>
    </div>
    <div class="card grid p-fluid mt-0 m-5 col-5 md:col-5 lg:col-5">
      <h5 class="m-5">
        How to upload car images to sell faster
      </h5>
      <ul>
        <li class="mb-5">
          The first image is your representative picture. For better illustration, you should choose the landscape image with clear front-rear exterior view.
        </li>
        <li class="mb-3" > Exterior: Car Front, Body, Rear, Back, Engine...</li>
        <li class="mb-3" >Interior: Dashboard, Seat, ...</li>
        <li class="mb-3" >SHOULD NOT:</li>
        <li class="mb-3" >Use images from the internet</li>
        <li class="mb-3" >Insert phone number, website, logo </li>
      </ul>
    </div>
    <div class="field grid col-12 md:col-12 lg:col-12 ml-4 justify-content-center">
      <button pButton pRipple label="Back" routerLink="/uploadcar/basicinfo" class=" col-5 md:col-5 lg:col-5 p-3 text-xl" type="button"></button>
      <button pButton pRipple label="Next" class=" col-5 md:col-5 lg:col-5  p-3 text-xl ml-5" type="submit"></button>
    </div>
  </div>
</form>

